<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-02-09 12:06:33 -0500</string>
	<key>Creator</key>
	<string>Stephen Magill</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{449.963, 181.599}, {68.7325, 24.5473}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>39</integer>
					<key>ImageID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{449.963, 236.384}, {61.8425, 26.6888}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40</integer>
					<key>ImageID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{449.963, 181.599}, {90.8386, 28.167}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>41</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{447.851, 240.045}, {83.0927, 28.167}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>42</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{315, 164}, {138.473, 119}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>43</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{379, 292}, {91, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>27</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs32 \cf0 Components}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{136, 292}, {89, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>26</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1038\cocoasubrtf350
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc\pardirnatural

\f0\fs32 \cf0 Conditioning}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{66, 141}, {287.721, 218.5}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>29</integer>
			<key>ImageID</key>
			<integer>8</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>11</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>ApplicationURL</key>
			<string>http://www.omnigroup.com/applications/OmniGraphSketcher</string>
			<key>appData</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiIHN0
			YW5kYWxvbmU9Im5vIj8+Cjxkb2N1bWVudCB4bWxucz0iaHR0cDov
			L3d3dy5vbW5pZ3JvdXAuY29tL25hbWVzcGFjZS9PbW5pR3JhcGhT
			a2V0Y2hlci92MSIgYXBwLWlkPSJjb20ub21uaWdyb3VwLk9tbmlH
			cmFwaFNrZXRjaGVyIiBhcHAtdmVyc2lvbj0iMjIuMTEuMC4xNDI0
			MzAiIG9zLW5hbWU9Ik5TTUFDSE9wZXJhdGluZ1N5c3RlbSIgb3Mt
			dmVyc2lvbj0iMTAuNi41IiBtYWNoaW5lLW1vZGVsPSJNYWNCb29r
			UHJvNSwzIj4KICA8d2luZG93PgogICAgPGZyYW1lIHg9Ijk0IiB5
			PSI4NCIgdz0iODIzIiBoPSI3MjMiLz4KICA8L3dpbmRvdz4KICA8
			Z3JhcGg+CiAgICA8Y2FudmFzIHc9IjgyMyIgaD0iNjI1IiBhdXRv
			LXdoaXRlc3BhY2U9InRydWUiPgogICAgICA8d2hpdGVzcGFjZSB0
			b3A9IjYiIHJpZ2h0PSI2IiBib3R0b209IjYiIGxlZnQ9IjYiLz4K
			ICAgICAgPGVkZ2UtcGFkZGluZyB0b3A9IjYiIHJpZ2h0PSI2IiBi
			b3R0b209IjYiIGxlZnQ9IjYiLz4KICAgICAgPHNoYWRvdyBzdHJl
			bmd0aD0iMCIvPgogICAgPC9jYW52YXM+CiAgICA8YXhpcyBpZD0i
			YXgiIGRpbWVuc2lvbj0ieCIgbWluPSIwIiBtYXg9IjEwIiB1c2Vy
			TW9kaWZpZWRSYW5nZT0iZmFsc2UiIHdpZHRoPSIxIiBwbGFjZW1l
			bnQ9Im9yaWdpbiIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGlj
			a3Mgc3BhY2luZz0iMSIgd2lkdGgtaW49IjMiIHdpZHRoLW91dD0i
			MSIgdmlzaWJsZT0iZmFsc2UiLz4KICAgICAgPGdyaWQgc3BhY2lu
			Zz0iMSIgd2lkdGg9IjEiIGV4dGVuZHMtcGFzdC1heGlzPSJmYWxz
			ZSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICAgIDxjb2xvciByPSIw
			LjkiIGc9IjAuOSIgYj0iMC45Ii8+CiAgICAgIDwvZ3JpZD4KICAg
			ICAgPHRpY2stbGFiZWxzIGRpc3RhbmNlPSIzIiBwYWRkaW5nPSIx
			NCIgdmlzaWJsZT0iZmFsc2UiPgogICAgICAgIDx1c2VyLWxhYmVs
			cz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSI3IiBpZHJlZj0iZTE5
			Ii8+CiAgICAgICAgICA8bGFiZWwgdGljaz0iMyIgaWRyZWY9ImUx
			NSIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9Im1heExhYmVsIiBp
			ZHJlZj0iZTIiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSI4IiBp
			ZHJlZj0iZTIwIi8+CiAgICAgICAgICA8bGFiZWwgdGljaz0iNCIg
			aWRyZWY9ImUxNiIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9Im1p
			bkxhYmVsIiBpZHJlZj0iZTEiLz4KICAgICAgICAgIDxsYWJlbCB0
			aWNrPSI1IiBpZHJlZj0iZTE3Ii8+CiAgICAgICAgICA8bGFiZWwg
			dGljaz0iMSIgaWRyZWY9ImUxMyIvPgogICAgICAgICAgPGxhYmVs
			IHRpY2s9IjkiIGlkcmVmPSJlMjEiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI2IiBpZHJlZj0iZTE4Ii8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0iMiIgaWRyZWY9ImUxNCIvPgogICAgICAgIDwvdXNl
			ci1sYWJlbHM+CiAgICAgIDwvdGljay1sYWJlbHM+CiAgICAgIDx0
			aXRsZSBsYWJlbD0iZTMiIGRpc3RhbmNlPSIxOCIgcGxhY2VtZW50
			PSIwLjUiIHZpc2libGU9ImZhbHNlIi8+CiAgICA8L2F4aXM+CiAg
			ICA8YXhpcyBpZD0iYXkiIGRpbWVuc2lvbj0ieSIgbWluPSIwIiBt
			YXg9IjEwIiB1c2VyTW9kaWZpZWRSYW5nZT0iZmFsc2UiIHdpZHRo
			PSIxIiBwbGFjZW1lbnQ9Im9yaWdpbiIgdmlzaWJsZT0iZmFsc2Ui
			PgogICAgICA8dGlja3Mgc3BhY2luZz0iMSIgd2lkdGgtaW49IjMi
			IHdpZHRoLW91dD0iMSIgdmlzaWJsZT0iZmFsc2UiLz4KICAgICAg
			PGdyaWQgc3BhY2luZz0iMSIgd2lkdGg9IjEiIGV4dGVuZHMtcGFz
			dC1heGlzPSJmYWxzZSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICAg
			IDxjb2xvciByPSIwLjkiIGc9IjAuOSIgYj0iMC45Ii8+CiAgICAg
			IDwvZ3JpZD4KICAgICAgPHRpY2stbGFiZWxzIGRpc3RhbmNlPSI1
			IiBwYWRkaW5nPSI0IiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgICAg
			PHVzZXItbGFiZWxzPgogICAgICAgICAgPGxhYmVsIHRpY2s9Ijci
			IGlkcmVmPSJlMjgiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSIz
			IiBpZHJlZj0iZTI0Ii8+CiAgICAgICAgICA8bGFiZWwgdGljaz0i
			bWF4TGFiZWwiIGlkcmVmPSJlNSIvPgogICAgICAgICAgPGxhYmVs
			IHRpY2s9IjgiIGlkcmVmPSJlMjkiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI0IiBpZHJlZj0iZTI1Ii8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0ibWluTGFiZWwiIGlkcmVmPSJlNCIvPgogICAgICAg
			ICAgPGxhYmVsIHRpY2s9IjUiIGlkcmVmPSJlMjYiLz4KICAgICAg
			ICAgIDxsYWJlbCB0aWNrPSIxIiBpZHJlZj0iZTIyIi8+CiAgICAg
			ICAgICA8bGFiZWwgdGljaz0iOSIgaWRyZWY9ImUzMCIvPgogICAg
			ICAgICAgPGxhYmVsIHRpY2s9IjYiIGlkcmVmPSJlMjciLz4KICAg
			ICAgICAgIDxsYWJlbCB0aWNrPSIyIiBpZHJlZj0iZTIzIi8+CiAg
			ICAgICAgPC91c2VyLWxhYmVscz4KICAgICAgPC90aWNrLWxhYmVs
			cz4KICAgICAgPHRpdGxlIGxhYmVsPSJlNiIgZGlzdGFuY2U9IjE4
			IiBwbGFjZW1lbnQ9IjAuNSIgdmlzaWJsZT0iZmFsc2UiLz4KICAg
			IDwvYXhpcz4KICAgIDx2ZXJ0ZXggaWQ9ImUzNCIgeD0iNC40ODgx
			MSIgeT0iOC41NjMxOSIgd2lkdGg9IjAiPgogICAgICA8Y29sb3Ig
			dz0iMSIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTYzIiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlNjEiIHBhcmFtPSIwIi8+CiAgICAgICAg
			PGVsZW1lbnQgaWRyZWY9ImUxODc0NSIgcGFyYW09IjAiLz4KICAg
			ICAgICA8ZWxlbWVudCBpZHJlZj0iZTI1MDIwIiBwYXJhbT0iMCIv
			PgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDEiIHBhcmFtPSIw
			LjA0NDEwOTYxIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3
			NCIgcGFyYW09IjAuMTgwODUwMyIvPgogICAgICA8L3NuYXBwZWQt
			dG8+CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImU0OSIg
			eD0iNC40ODc2NiIgeT0iNC43MzY4NSIgd2lkdGg9IjAiPgogICAg
			ICA8Y29sb3Igdz0iMSIvPgogICAgICA8c25hcHBlZC10bz4KICAg
			ICAgICA8ZWxlbWVudCBpZHJlZj0iZTQ1IiBwYXJhbT0iMCIvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDciIHBhcmFtPSIwIi8+
			CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU4ODczIiBwYXJhbT0i
			MCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTczODkiIHBh
			cmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxOTUy
			MSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTI3MDQzIiBwYXJhbT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+
			CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImU3MiIgeD0i
			NS42NjQxMSIgeT0iMy44Njc1MSIgd2lkdGg9IjAiPgogICAgICA8
			Y29sb3Igdz0iMSIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTY4IiBwYXJhbT0iMCIvPgogICAg
			ICAgIDxlbGVtZW50IGlkcmVmPSJlNzAiIHBhcmFtPSIwIi8+CiAg
			ICAgICAgPGVsZW1lbnQgaWRyZWY9ImUyMDE2MCIgcGFyYW09IjAi
			Lz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTI3NTQ5IiBwYXJh
			bT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDEiIHBh
			cmFtPSIwLjM4OTIxOTIiLz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTc0IiBwYXJhbT0iMC40ODQ4Mzc5Ii8+CiAgICAgIDwvc25h
			cHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0i
			ZTM4IiB4PSI0LjQ4ODIxIiB5PSI5LjM4Mjk0IiB3aWR0aD0iMCI+
			CiAgICAgIDxjb2xvciB3PSIwLjkwMTQ2Ii8+CiAgICAgIDxzbmFw
			cGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDAiIHBh
			cmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU1NiIg
			cGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTgz
			NzciIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9
			ImUxMzIyMCIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNTMiIHg9
			IjYuNTk5ODQiIHk9IjMuMTc2MDQiIHdpZHRoPSIwIj4KICAgICAg
			PGNvbG9yIHc9IjAuOTAxNDYiLz4KICAgICAgPHNuYXBwZWQtdG8+
			CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU1MSIgcGFyYW09IjAi
			Lz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTk2MzgiIHBhcmFt
			PSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxNjUzMSIg
			cGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92
			ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNDciIHg9IjQuNDg3NjYi
			IHk9IjQuNzM2ODUiIHdpZHRoPSIwIj4KICAgICAgPGNvbG9yIHc9
			IjAuOTAxNDYiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAg
			PGVsZW1lbnQgaWRyZWY9ImU0OSIgcGFyYW09IjAiLz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTQ1IiBwYXJhbT0iMCIvPgogICAg
			ICAgIDxlbGVtZW50IGlkcmVmPSJlODg3MyIgcGFyYW09IjAiLz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTE3Mzg5IiBwYXJhbT0i
			MCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTk1MjEiIHBh
			cmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUyNzA0
			MyIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAg
			PC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNjEiIHg9IjQuNDg4
			MTEiIHk9IjguNTYzMTkiIHdpZHRoPSIwIj4KICAgICAgPGNvbG9y
			IHc9IjAuOTAxNDYiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUzNCIgcGFyYW09IjAiLz4KICAg
			ICAgICA8ZWxlbWVudCBpZHJlZj0iZTYzIiBwYXJhbT0iMCIvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTg3NDUiIHBhcmFtPSIw
			Ii8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUyNTAyMCIgcGFy
			YW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTQxIiBw
			YXJhbT0iMC4wNDQxMDk2MSIvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlNzQiIHBhcmFtPSIwLjE4MDg1MDMiLz4KICAgICAgPC9z
			bmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlk
			PSJlNzAiIHg9IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdpZHRoPSIw
			Ij4KICAgICAgPGNvbG9yIHc9IjAuOTAxNDYiLz4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3MiIg
			cGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTY4
			IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			MjAxNjAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImUyNzU0OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTQxIiBwYXJhbT0iMC4zODkyMTkyIi8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImU3NCIgcGFyYW09IjAuNDg0ODM3
			OSIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4K
			ICAgIDx2ZXJ0ZXggaWQ9ImU4MiIgeD0iMS40MTE5NSIgeT0iOC41
			NjQ0MyIgd2lkdGg9IjAiPgogICAgICA8Y29sb3Igdz0iMC45MDE0
			NiIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTc4IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlODAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUyMjcyMyIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlNjMiIHg9IjQuNDg4MTEiIHk9IjguNTYzMTkiIHdpZHRo
			PSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImUzNCIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTYxIiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlMTg3NDUiIHBhcmFtPSIwIi8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUyNTAyMCIgcGFyYW09IjAiLz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTQxIiBwYXJhbT0iMC4w
			NDQxMDk2MSIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNzQi
			IHBhcmFtPSIwLjE4MDg1MDMiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNjgiIHg9
			IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdpZHRoPSIyIj4KICAgICAg
			PHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3
			MiIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTcwIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVm
			PSJlMjAxNjAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImUyNzU0OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTQxIiBwYXJhbT0iMC4zODkyMTkyIi8+CiAg
			ICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3NCIgcGFyYW09IjAuNDg0
			ODM3OSIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRl
			eD4KICAgIDx2ZXJ0ZXggaWQ9ImU0MCIgeD0iNC40ODgyMSIgeT0i
			OS4zODI5NCIgd2lkdGg9IjIiPgogICAgICA8c25hcHBlZC10bz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTM4IiBwYXJhbT0iMCIv
			PgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNTYiIHBhcmFtPSIw
			Ii8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU4Mzc3IiBwYXJh
			bT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTMyMjAi
			IHBhcmFtPSIwIi8+CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwv
			dmVydGV4PgogICAgPHZlcnRleCBpZD0iZTQ1IiB4PSI0LjQ4NzY2
			IiB5PSI0LjczNjg1IiB3aWR0aD0iMiI+CiAgICAgIDxzbmFwcGVk
			LXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDkiIHBhcmFt
			PSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU0NyIgcGFy
			YW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTg4NzMi
			IHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUx
			NzM4OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTE5NTIxIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlMjcwNDMiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25h
			cHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0i
			ZTUxIiB4PSI2LjU5OTg0IiB5PSIzLjE3NjA0IiB3aWR0aD0iMiI+
			CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlNTMiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImU5NjM4IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlMTY1MzEiIHBhcmFtPSIwIi8+CiAgICAgIDwv
			c25hcHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBp
			ZD0iZTU1IiB4PSI2LjU5OTg0IiB5PSI5LjQwMTA5IiB3aWR0aD0i
			MiI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlMTA3NzYiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUxNTgxNSIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlNTYiIHg9IjQuNDg4MjEiIHk9IjkuMzgyOTQiIHdpZHRo
			PSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImUzOCIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTQwIiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlODM3NyIgcGFyYW09IjAiLz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTEzMjIwIiBwYXJhbT0iMCIvPgog
			ICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDx2
			ZXJ0ZXggaWQ9ImU3OCIgeD0iMS40MTE5NSIgeT0iOC41NjQ0MyIg
			d2lkdGg9IjIiPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTgyIiBwYXJhbT0iMCIvPgogICAgICAg
			IDxlbGVtZW50IGlkcmVmPSJlODAiIHBhcmFtPSIwIi8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUyMjcyMyIgcGFyYW09IjAiLz4K
			ICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8
			dmVydGV4IGlkPSJlODQiIHg9IjUuNjY0MzEiIHk9IjguNTY0NDMi
			IHdpZHRoPSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAg
			PGVsZW1lbnQgaWRyZWY9ImUyODI5NSIgcGFyYW09IjAiLz4KICAg
			ICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVy
			dGV4IGlkPSJlODUiIHg9IjUuNjY0MzEiIHk9IjMuNTY0NDMiIHdp
			ZHRoPSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUyMDM3NSIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlODYiIHg9IjEuNDExOTUiIHk9IjMuNTY0NDMiIHdpZHRo
			PSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImUyMTc4MSIgcGFyYW09IjAiLz4KICAgICAgPC9z
			bmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlk
			PSJlODAiIHg9IjEuNDExOTUiIHk9IjguNTY0NDMiIHdpZHRoPSIy
			Ij4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImU4MiIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTc4IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlMjI3MjMiIHBhcmFtPSIwIi8+CiAgICAgIDwv
			c25hcHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBp
			ZD0iZTg4IiB4PSIyIiB5PSI4IiB3aWR0aD0iMiIgc2hhcGU9ImNp
			cmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTg5IiB4PSIyIiB5PSI3
			IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRl
			eCBpZD0iZTkwIiB4PSIyIiB5PSI2IiB3aWR0aD0iMiIgc2hhcGU9
			ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTkxIiB4PSIyIiB5
			PSI1IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZl
			cnRleCBpZD0iZTkyIiB4PSIyIiB5PSI0IiB3aWR0aD0iMiIgc2hh
			cGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTkzIiB4PSIz
			IiB5PSI0IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAg
			PHZlcnRleCBpZD0iZTk0IiB4PSIzIiB5PSI1IiB3aWR0aD0iMiIg
			c2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTk1IiB4
			PSIzIiB5PSI2IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgog
			ICAgPHZlcnRleCBpZD0iZTk2IiB4PSIzIiB5PSI3IiB3aWR0aD0i
			MiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTk3
			IiB4PSIzIiB5PSI4IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIv
			PgogICAgPHZlcnRleCBpZD0iZTk4IiB4PSI0IiB5PSI4IiB3aWR0
			aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0i
			ZTk5IiB4PSI0IiB5PSI3IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNs
			ZSIvPgogICAgPHZlcnRleCBpZD0iZTEwMCIgeD0iNCIgeT0iNiIg
			d2lkdGg9IjIiIHNoYXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXgg
			aWQ9ImUxMDEiIHg9IjQiIHk9IjUiIHdpZHRoPSIyIiBzaGFwZT0i
			Y2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlMTAyIiB4PSI0IiB5
			PSI0IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZl
			cnRleCBpZD0iZTEwMyIgeD0iNSIgeT0iNCIgd2lkdGg9IjIiIHNo
			YXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXggaWQ9ImUxMDQiIHg9
			IjUiIHk9IjUiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAg
			ICA8dmVydGV4IGlkPSJlMTA1IiB4PSI1IiB5PSI2IiB3aWR0aD0i
			MiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTEw
			NiIgeD0iNSIgeT0iNyIgd2lkdGg9IjIiIHNoYXBlPSJjaXJjbGUi
			Lz4KICAgIDx2ZXJ0ZXggaWQ9ImUxMDciIHg9IjUiIHk9IjgiIHdp
			ZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlk
			PSJlMTA4IiB4PSI2IiB5PSI4IiB3aWR0aD0iMiIgc2hhcGU9ImNp
			cmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTEwOSIgeD0iNiIgeT0i
			NyIgd2lkdGg9IjIiIHNoYXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0
			ZXggaWQ9ImUxMTAiIHg9IjYiIHk9IjYiIHdpZHRoPSIyIiBzaGFw
			ZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlMTExIiB4PSI2
			IiB5PSI1IiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAg
			PHZlcnRleCBpZD0iZTExMiIgeD0iNiIgeT0iNCIgd2lkdGg9IjIi
			IHNoYXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXggaWQ9ImUxMTMi
			IHg9IjYiIHk9IjkiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+
			CiAgICA8dmVydGV4IGlkPSJlMTE0IiB4PSI1IiB5PSI5IiB3aWR0
			aD0iMiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0i
			ZTgzNzciIHg9IjQuNDg4MjEiIHk9IjkuMzgyOTQiIHdpZHRoPSIw
			Ij4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImU1NiIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTM4IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlNDAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUxMzIyMCIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlODg3MyIgeD0iNC40ODc2NiIgeT0iNC43MzY4NSIgd2lk
			dGg9IjAiPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTQ1IiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlNDkiIHBhcmFtPSIwIi8+CiAgICAgICAg
			PGVsZW1lbnQgaWRyZWY9ImU0NyIgcGFyYW09IjAiLz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTE3Mzg5IiBwYXJhbT0iMCIvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTk1MjEiIHBhcmFtPSIw
			Ii8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUyNzA0MyIgcGFy
			YW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0
			ZXg+CiAgICA8dmVydGV4IGlkPSJlOTYzOCIgeD0iNi41OTk4NCIg
			eT0iMy4xNzYwNCIgd2lkdGg9IjAiPgogICAgICA8c25hcHBlZC10
			bz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTUxIiBwYXJhbT0i
			MCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNTMiIHBhcmFt
			PSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxNjUzMSIg
			cGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92
			ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMTA3NzYiIHg9IjYuNTk5
			ODQiIHk9IjkuNDAxMDkiIHdpZHRoPSIwIj4KICAgICAgPHNuYXBw
			ZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU1NSIgcGFy
			YW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTE1ODE1
			IiBwYXJhbT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8
			L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUxMzIyMCIgeD0iNC40
			ODgyMSIgeT0iOS4zODI5NCIgd2lkdGg9IjAiPgogICAgICA8c25h
			cHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTU2IiBw
			YXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMzgi
			IHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU0
			MCIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTgzNzciIHBhcmFtPSIwIi8+CiAgICAgIDwvc25hcHBlZC10bz4K
			ICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0iZTE1ODE1IiB4
			PSI2LjU5OTg0IiB5PSI5LjQwMTA5IiB3aWR0aD0iMCI+CiAgICAg
			IDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			MTA3NzYiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImU1NSIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMTY1MzEi
			IHg9IjYuNTk5ODQiIHk9IjMuMTc2MDQiIHdpZHRoPSIwIj4KICAg
			ICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9
			ImU5NjM4IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlNTEiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImU1MyIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVk
			LXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMTcz
			ODkiIHg9IjQuNDg3NjYiIHk9IjQuNzM2ODUiIHdpZHRoPSIwIj4K
			ICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImU4ODczIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlNDUiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImU0OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxl
			bWVudCBpZHJlZj0iZTQ3IiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlMTk1MjEiIHBhcmFtPSIwIi8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUyNzA0MyIgcGFyYW09IjAiLz4K
			ICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8
			dmVydGV4IGlkPSJlMTg3NDUiIHg9IjQuNDg4MTEiIHk9IjguNTYz
			MTkiIHdpZHRoPSIwIj4KICAgICAgPGNvbG9yIHI9IjEiIGc9IjEi
			IGI9IjEiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImU2MyIgcGFyYW09IjAiLz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTM0IiBwYXJhbT0iMCIvPgogICAgICAg
			IDxlbGVtZW50IGlkcmVmPSJlNjEiIHBhcmFtPSIwIi8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUyNTAyMCIgcGFyYW09IjAiLz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTQxIiBwYXJhbT0iMC4w
			NDQxMDk2MSIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNzQi
			IHBhcmFtPSIwLjE4MDg1MDMiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMTk1MjEi
			IHg9IjQuNDg3NjYiIHk9IjQuNzM2ODUiIHdpZHRoPSIwIj4KICAg
			ICAgPGNvbG9yIHI9IjEiIGc9IjEiIGI9IjEiLz4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxNzM4
			OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTg4NzMiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImU0NSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBp
			ZHJlZj0iZTQ5IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlNDciIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImUyNzA0MyIgcGFyYW09IjAiLz4KICAgICAgPC9z
			bmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlk
			PSJlMjAxNjAiIHg9IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdpZHRo
			PSIwIj4KICAgICAgPGNvbG9yIHI9IjEiIGc9IjEiIGI9IjEiLz4K
			ICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImU2OCIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBp
			ZHJlZj0iZTcyIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlNzAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImUyNzU0OSIgcGFyYW09IjAiLz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTQxIiBwYXJhbT0iMC4zODkyMTkyIi8+
			CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3NCIgcGFyYW09IjAu
			NDg0ODM3OSIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3Zl
			cnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUyMDM3NSIgeD0iNS42NjQz
			MSIgeT0iMy41NjQ0MyIgd2lkdGg9IjAiPgogICAgICA8Y29sb3Ig
			cj0iMSIgZz0iMSIgYj0iMSIvPgogICAgICA8c25hcHBlZC10bz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTg1IiBwYXJhbT0iMCIv
			PgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAg
			IDx2ZXJ0ZXggaWQ9ImUyMTc4MSIgeD0iMS40MTE5NSIgeT0iMy41
			NjQ0MyIgd2lkdGg9IjAiPgogICAgICA8Y29sb3Igcj0iMSIgZz0i
			MSIgYj0iMSIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTg2IiBwYXJhbT0iMCIvPgogICAgICA8
			L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXgg
			aWQ9ImUyMjcyMyIgeD0iMS40MTE5NSIgeT0iOC41NjQ0MyIgd2lk
			dGg9IjAiPgogICAgICA8Y29sb3Igcj0iMSIgZz0iMSIgYj0iMSIv
			PgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBp
			ZHJlZj0iZTgwIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlODIiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImU3OCIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFw
			cGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJl
			MjUwMjAiIHg9IjQuNDg4MTEiIHk9IjguNTYzMTkiIHdpZHRoPSIw
			Ij4KICAgICAgPGNvbG9yIHI9IjAuODc3OTY5IiBnPSIwLjg3ODEw
			NyIgYj0iMC44Nzc5MTgiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAg
			ICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxODc0NSIgcGFyYW09IjAi
			Lz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTYzIiBwYXJhbT0i
			MCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMzQiIHBhcmFt
			PSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU2MSIgcGFy
			YW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTQxIiBw
			YXJhbT0iMC4wNDQxMDk2MSIvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlNzQiIHBhcmFtPSIwLjE4MDg1MDMiLz4KICAgICAgPC9z
			bmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlk
			PSJlMjcwNDMiIHg9IjQuNDg3NjYiIHk9IjQuNzM2ODUiIHdpZHRo
			PSIwIj4KICAgICAgPGNvbG9yIHI9IjAuODc3OTY5IiBnPSIwLjg3
			ODEwNyIgYj0iMC44Nzc5MTgiLz4KICAgICAgPHNuYXBwZWQtdG8+
			CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxOTUyMSIgcGFyYW09
			IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTE3Mzg5IiBw
			YXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlODg3
			MyIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTQ1IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVm
			PSJlNDkiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRy
			ZWY9ImU0NyIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMjc1NDki
			IHg9IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdpZHRoPSIwIj4KICAg
			ICAgPGNvbG9yIHI9IjAuODc3OTY5IiBnPSIwLjg3ODEwNyIgYj0i
			MC44Nzc5MTgiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAg
			PGVsZW1lbnQgaWRyZWY9ImUyMDE2MCIgcGFyYW09IjAiLz4KICAg
			ICAgICA8ZWxlbWVudCBpZHJlZj0iZTY4IiBwYXJhbT0iMCIvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNzIiIHBhcmFtPSIwIi8+
			CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3MCIgcGFyYW09IjAi
			Lz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTQxIiBwYXJhbT0i
			MC4zODkyMTkyIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3
			NCIgcGFyYW09IjAuNDg0ODM3OSIvPgogICAgICA8L3NuYXBwZWQt
			dG8+CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUyODI5
			NSIgeD0iNS42NjQzMSIgeT0iOC41NjQ0MyIgd2lkdGg9IjAiPgog
			ICAgICA8Y29sb3Igcj0iMC44Nzc5NjkiIGc9IjAuODc4MTA3IiBi
			PSIwLjg3NzkxOCIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTg0IiBwYXJhbT0iMCIvPgogICAg
			ICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDxsaW5l
			IGlkPSJlNjQiIHdpZHRoPSIyIiBkYXNoPSJkYXNoZXMtbG9uZyIg
			Y2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3RyYWlnaHQiPgogICAg
			ICA8dmVydGljZXMgaWRzPSJlNjMgZTY4Ii8+CiAgICA8L2xpbmU+
			CiAgICA8bGluZSBpZD0iZTQxIiB3aWR0aD0iMiIgZGFzaD0iZG90
			cyIgY2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3RyYWlnaHQiPgog
			ICAgICA8dmVydGljZXMgaWRzPSJlNDAgZTQ1IGU1MSBlNTUgZTU2
			Ii8+CiAgICA8L2xpbmU+CiAgICA8bGluZSBpZD0iZTc0IiB3aWR0
			aD0iMiIgZGFzaD0ic29saWQiIGNsYXNzPSJjb25uZWN0IiBtZXRo
			b2Q9InN0cmFpZ2h0Ij4KICAgICAgPHZlcnRpY2VzIGlkcz0iZTc4
			IGU4NCBlODUgZTg2IGU4MCIvPgogICAgPC9saW5lPgogICAgPGZp
			bGwgaWQ9ImUzMiI+CiAgICAgIDxjb2xvciB3PSIxIi8+CiAgICAg
			IDx2ZXJ0aWNlcyBpZHM9ImUzNCBlNDkgZTcyIi8+CiAgICA8L2Zp
			bGw+CiAgICA8ZmlsbCBpZD0iZTM2Ij4KICAgICAgPGNvbG9yIHc9
			IjAuOTAxNDYiLz4KICAgICAgPHZlcnRpY2VzIGlkcz0iZTM4IGU1
			MyBlNDciLz4KICAgIDwvZmlsbD4KICAgIDxmaWxsIGlkPSJlNTki
			PgogICAgICA8Y29sb3Igdz0iMC45MDE0NiIvPgogICAgICA8dmVy
			dGljZXMgaWRzPSJlNjEgZTcwIGU4MiIvPgogICAgPC9maWxsPgog
			ICAgPGZpbGwgaWQ9ImU3NzMxIj4KICAgICAgPGNvbG9yIHI9IjAu
			MjgwNjEyIiBnPSIwLjI4MDYxMiIgYj0iMC4yODA2MTIiLz4KICAg
			ICAgPHZlcnRpY2VzIGlkcz0iZTgzNzcgZTg4NzMgZTk2MzggZTEw
			Nzc2Ii8+CiAgICA8L2ZpbGw+CiAgICA8ZmlsbCBpZD0iZTEyMDQ0
			Ij4KICAgICAgPGNvbG9yIHI9IjAuODc3NTUxIiBnPSIwLjg3NzU1
			MSIgYj0iMC44Nzc1NTEiLz4KICAgICAgPHZlcnRpY2VzIGlkcz0i
			ZTEzMjIwIGUxNTgxNSBlMTY1MzEgZTE3Mzg5Ii8+CiAgICA8L2Zp
			bGw+CiAgICA8ZmlsbCBpZD0iZTE3OTYyIj4KICAgICAgPGNvbG9y
			IHI9IjEiIGc9IjEiIGI9IjEiLz4KICAgICAgPHZlcnRpY2VzIGlk
			cz0iZTE4NzQ1IGUxOTUyMSBlMjAxNjAgZTIwMzc1IGUyMTc4MSBl
			MjI3MjMiLz4KICAgIDwvZmlsbD4KICAgIDxmaWxsIGlkPSJlMjMw
			MzMiPgogICAgICA8Y29sb3Igcj0iMC44Nzc5NjkiIGc9IjAuODc4
			MTA3IiBiPSIwLjg3NzkxOCIvPgogICAgICA8dmVydGljZXMgaWRz
			PSJlMjUwMjAgZTI3MDQzIGUyNzU0OSBlMjgyOTUiLz4KICAgIDwv
			ZmlsbD4KICAgIDxsYWJlbCBpZD0iZTMiIHg9IjQuNzc0NzciIHk9
			Ii0wLjU1NDY0OSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4
			dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAg
			ICAgIDxsaXQ+WCBBeGlzPC9saXQ+CiAgICAgICAgICA8L3J1bj4K
			ICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+
			CiAgICA8bGFiZWwgaWQ9ImU2IiB4PSItMC4yMjE5NDgiIHk9IjQu
			NzAyMyIgcm90YXRpb249IjkwIiB2aXNpYmxlPSJmYWxzZSI+CiAg
			ICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4K
			ICAgICAgICAgICAgPGxpdD5ZIEF4aXM8L2xpdD4KICAgICAgICAg
			IDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAg
			PC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTE5IiB4PSI2Ljk0OTI5
			IiB5PSItMC4zNjI5NzYiIHZpc2libGU9ImZhbHNlIj4KICAgICAg
			PHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAg
			ICAgICAgICA8bGl0Pjc8L2xpdD4KICAgICAgICAgIDwvcnVuPgog
			ICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4K
			ICAgIDxsYWJlbCBpZD0iZTE1IiB4PSIyLjk0OTMiIHk9Ii0wLjM2
			Mjk3NiIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAg
			ICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxs
			aXQ+MzwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9w
			PgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVs
			IGlkPSJlMiIgeD0iOS45MDY0NCIgeT0iLTAuMzI2MjY0IiB2aXNp
			YmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgog
			ICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4xMDwvbGl0
			PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8
			L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjAi
			IHg9IjcuOTQ5MjkiIHk9Ii0wLjM2Mjk3NiIgdmlzaWJsZT0iZmFs
			c2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAg
			IDxydW4+CiAgICAgICAgICAgIDxsaXQ+ODwvbGl0PgogICAgICAg
			ICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAg
			ICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMTYiIHg9IjMuOTQ5
			MjkiIHk9Ii0wLjM2Mjk3NiIgdmlzaWJsZT0iZmFsc2UiPgogICAg
			ICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAg
			ICAgICAgICAgIDxsaXQ+NDwvbGl0PgogICAgICAgICAgPC9ydW4+
			CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVs
			PgogICAgPGxhYmVsIGlkPSJlMSIgeD0iLTAuMDQ2NzgxMSIgeT0i
			LTAuMzI2MjY0IiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0
			PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAg
			ICAgPGxpdD4wPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAg
			ICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8
			bGFiZWwgaWQ9ImUxNyIgeD0iNC45NDkzIiB5PSItMC4zNjI5NzYi
			IHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAgICAg
			PHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0PjU8
			L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAg
			ICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0i
			ZTEzIiB4PSIwLjk0OTI5NSIgeT0iLTAuMzYyOTc2IiB2aXNpYmxl
			PSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAg
			ICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4xPC9saXQ+CiAg
			ICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4
			dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUyMSIgeD0i
			OC45NDkzIiB5PSItMC4zNjI5NzYiIHZpc2libGU9ImZhbHNlIj4K
			ICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVu
			PgogICAgICAgICAgICA8bGl0Pjk8L2xpdD4KICAgICAgICAgIDwv
			cnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9s
			YWJlbD4KICAgIDxsYWJlbCBpZD0iZTE4IiB4PSI1Ljk0OTI5IiB5
			PSItMC4zNjI5NzYiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRl
			eHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAg
			ICAgICA8bGl0PjY8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAg
			ICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAg
			IDxsYWJlbCBpZD0iZTE0IiB4PSIxLjk0OTI5IiB5PSItMC4zNjI5
			NzYiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAg
			ICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0
			PjI8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4K
			ICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBp
			ZD0iZTI4IiB4PSItMC4xNzk3NzYiIHk9IjYuODU3OSIgdmlzaWJs
			ZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAg
			ICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+NzwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjQiIHg9
			Ii0wLjE3OTc3NiIgeT0iMi44NTc5IiB2aXNpYmxlPSJmYWxzZSI+
			CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1
			bj4KICAgICAgICAgICAgPGxpdD4zPC9saXQ+CiAgICAgICAgICA8
			L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwv
			bGFiZWw+CiAgICA8bGFiZWwgaWQ9ImU1IiB4PSItMC4yNjExMDci
			IHk9IjkuODY5NDkiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRl
			eHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAg
			ICAgICA8bGl0PjEwPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAg
			ICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAg
			ICA8bGFiZWwgaWQ9ImUyOSIgeD0iLTAuMTc5Nzc2IiB5PSI3Ljg1
			NzkiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAg
			ICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0
			Pjg8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4K
			ICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBp
			ZD0iZTI1IiB4PSItMC4xNzk3NzYiIHk9IjMuODU3OSIgdmlzaWJs
			ZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAg
			ICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+NDwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlNCIgeD0i
			LTAuMTY3NTQ1IiB5PSItMC4xMzA1MDYiIHZpc2libGU9ImZhbHNl
			Ij4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8
			cnVuPgogICAgICAgICAgICA8bGl0PjA8L2xpdD4KICAgICAgICAg
			IDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAg
			PC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTI2IiB4PSItMC4xNzk3
			NzYiIHk9IjQuODU3OSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8
			dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAg
			ICAgICAgIDxsaXQ+NTwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlMjIiIHg9Ii0wLjE3OTc3NiIgeT0iMC44
			NTc5MDQiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAg
			ICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8
			bGl0PjE8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwv
			cD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJl
			bCBpZD0iZTMwIiB4PSItMC4xNzk3NzYiIHk9IjguODU3OSIgdmlz
			aWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4K
			ICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+OTwvbGl0
			PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8
			L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjci
			IHg9Ii0wLjE3OTc3NiIgeT0iNS44NTc5IiB2aXNpYmxlPSJmYWxz
			ZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAg
			PHJ1bj4KICAgICAgICAgICAgPGxpdD42PC9saXQ+CiAgICAgICAg
			ICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAg
			IDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUyMyIgeD0iLTAuMTc5
			Nzc2IiB5PSIxLjg1NzkiIHZpc2libGU9ImZhbHNlIj4KICAgICAg
			PHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAg
			ICAgICAgICA8bGl0PjI8L2xpdD4KICAgICAgICAgIDwvcnVuPgog
			ICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4K
			ICA8L2dyYXBoPgo8L2RvY3VtZW50Pgo=
			</data>
			<key>bundleId</key>
			<string>com.omnigroup.OmniGraphSketcher</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>OmniGraphSketcher</string>
			<key>serverName</key>
			<string>OmniGraphSketcher</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image10.pdf</string>
		<string>image9.pdf</string>
		<string>image8.pdf</string>
		<string>image4.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-02-09 20:09:57 -0500</string>
	<key>Modifier</key>
	<string>Stephen Magill</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{28, 233}, {1172, 925}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-231, -19}, {1037, 771}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
