<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-02-05 15:33:55 -0500</string>
	<key>Creator</key>
	<string>Stephen Magill</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{370, 502}, {121, 29.7193}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{362, 497}, {121, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>9</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{365, 585}, {118, 27.3929}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{359, 580}, {118, 40}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 54}, {823, 625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>ImageID</key>
			<integer>7</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://www.omnigroup.com/applications/OmniGraphSketcher</string>
			<key>appData</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiIHN0
			YW5kYWxvbmU9Im5vIj8+Cjxkb2N1bWVudCB4bWxucz0iaHR0cDov
			L3d3dy5vbW5pZ3JvdXAuY29tL25hbWVzcGFjZS9PbW5pR3JhcGhT
			a2V0Y2hlci92MSIgYXBwLWlkPSJjb20ub21uaWdyb3VwLk9tbmlH
			cmFwaFNrZXRjaGVyIiBhcHAtdmVyc2lvbj0iMjIuMTEuMC4xNDI0
			MzAiIG9zLW5hbWU9Ik5TTUFDSE9wZXJhdGluZ1N5c3RlbSIgb3Mt
			dmVyc2lvbj0iMTAuNi41IiBtYWNoaW5lLW1vZGVsPSJNYWNCb29r
			UHJvNSwzIj4KICA8d2luZG93PgogICAgPGZyYW1lIHg9IjYxIiB5
			PSIyMDUiIHc9IjgyMyIgaD0iNzIzIi8+CiAgPC93aW5kb3c+CiAg
			PGdyYXBoPgogICAgPGNhbnZhcyB3PSI4MjMiIGg9IjYyNSIgYXV0
			by13aGl0ZXNwYWNlPSJ0cnVlIj4KICAgICAgPHdoaXRlc3BhY2Ug
			dG9wPSI2IiByaWdodD0iNiIgYm90dG9tPSI2IiBsZWZ0PSI2Ii8+
			CiAgICAgIDxlZGdlLXBhZGRpbmcgdG9wPSI2IiByaWdodD0iNiIg
			Ym90dG9tPSI2IiBsZWZ0PSI2Ii8+CiAgICAgIDxzaGFkb3cgc3Ry
			ZW5ndGg9IjAiLz4KICAgIDwvY2FudmFzPgogICAgPGF4aXMgaWQ9
			ImF4IiBkaW1lbnNpb249IngiIG1pbj0iMCIgbWF4PSIxMCIgdXNl
			ck1vZGlmaWVkUmFuZ2U9ImZhbHNlIiB3aWR0aD0iMSIgcGxhY2Vt
			ZW50PSJvcmlnaW4iIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRp
			Y2tzIHNwYWNpbmc9IjEiIHdpZHRoLWluPSIzIiB3aWR0aC1vdXQ9
			IjEiIHZpc2libGU9ImZhbHNlIi8+CiAgICAgIDxncmlkIHNwYWNp
			bmc9IjEiIHdpZHRoPSIxIiBleHRlbmRzLXBhc3QtYXhpcz0iZmFs
			c2UiIHZpc2libGU9ImZhbHNlIj4KICAgICAgICA8Y29sb3Igcj0i
			MC45IiBnPSIwLjkiIGI9IjAuOSIvPgogICAgICA8L2dyaWQ+CiAg
			ICAgIDx0aWNrLWxhYmVscyBkaXN0YW5jZT0iMyIgcGFkZGluZz0i
			MTQiIHZpc2libGU9ImZhbHNlIj4KICAgICAgICA8dXNlci1sYWJl
			bHM+CiAgICAgICAgICA8bGFiZWwgdGljaz0iNyIgaWRyZWY9ImUx
			OSIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9Im1heExhYmVsIiBp
			ZHJlZj0iZTIiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSIzIiBp
			ZHJlZj0iZTE1Ii8+CiAgICAgICAgICA8bGFiZWwgdGljaz0iOCIg
			aWRyZWY9ImUyMCIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9IjQi
			IGlkcmVmPSJlMTYiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSJt
			aW5MYWJlbCIgaWRyZWY9ImUxIi8+CiAgICAgICAgICA8bGFiZWwg
			dGljaz0iNSIgaWRyZWY9ImUxNyIvPgogICAgICAgICAgPGxhYmVs
			IHRpY2s9IjEiIGlkcmVmPSJlMTMiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI5IiBpZHJlZj0iZTIxIi8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0iNiIgaWRyZWY9ImUxOCIvPgogICAgICAgICAgPGxh
			YmVsIHRpY2s9IjIiIGlkcmVmPSJlMTQiLz4KICAgICAgICA8L3Vz
			ZXItbGFiZWxzPgogICAgICA8L3RpY2stbGFiZWxzPgogICAgICA8
			dGl0bGUgbGFiZWw9ImUzIiBkaXN0YW5jZT0iMTgiIHBsYWNlbWVu
			dD0iMC41IiB2aXNpYmxlPSJmYWxzZSIvPgogICAgPC9heGlzPgog
			ICAgPGF4aXMgaWQ9ImF5IiBkaW1lbnNpb249InkiIG1pbj0iMCIg
			bWF4PSIxMCIgdXNlck1vZGlmaWVkUmFuZ2U9ImZhbHNlIiB3aWR0
			aD0iMSIgcGxhY2VtZW50PSJvcmlnaW4iIHZpc2libGU9ImZhbHNl
			Ij4KICAgICAgPHRpY2tzIHNwYWNpbmc9IjEiIHdpZHRoLWluPSIz
			IiB3aWR0aC1vdXQ9IjEiIHZpc2libGU9ImZhbHNlIi8+CiAgICAg
			IDxncmlkIHNwYWNpbmc9IjEiIHdpZHRoPSIxIiBleHRlbmRzLXBh
			c3QtYXhpcz0iZmFsc2UiIHZpc2libGU9ImZhbHNlIj4KICAgICAg
			ICA8Y29sb3Igcj0iMC45IiBnPSIwLjkiIGI9IjAuOSIvPgogICAg
			ICA8L2dyaWQ+CiAgICAgIDx0aWNrLWxhYmVscyBkaXN0YW5jZT0i
			NSIgcGFkZGluZz0iNCIgdmlzaWJsZT0iZmFsc2UiPgogICAgICAg
			IDx1c2VyLWxhYmVscz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSI3
			IiBpZHJlZj0iZTI4Ii8+CiAgICAgICAgICA8bGFiZWwgdGljaz0i
			bWF4TGFiZWwiIGlkcmVmPSJlNSIvPgogICAgICAgICAgPGxhYmVs
			IHRpY2s9IjMiIGlkcmVmPSJlMjQiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI4IiBpZHJlZj0iZTI5Ii8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0iNCIgaWRyZWY9ImUyNSIvPgogICAgICAgICAgPGxh
			YmVsIHRpY2s9Im1pbkxhYmVsIiBpZHJlZj0iZTQiLz4KICAgICAg
			ICAgIDxsYWJlbCB0aWNrPSI1IiBpZHJlZj0iZTI2Ii8+CiAgICAg
			ICAgICA8bGFiZWwgdGljaz0iMSIgaWRyZWY9ImUyMiIvPgogICAg
			ICAgICAgPGxhYmVsIHRpY2s9IjkiIGlkcmVmPSJlMzAiLz4KICAg
			ICAgICAgIDxsYWJlbCB0aWNrPSI2IiBpZHJlZj0iZTI3Ii8+CiAg
			ICAgICAgICA8bGFiZWwgdGljaz0iMiIgaWRyZWY9ImUyMyIvPgog
			ICAgICAgIDwvdXNlci1sYWJlbHM+CiAgICAgIDwvdGljay1sYWJl
			bHM+CiAgICAgIDx0aXRsZSBsYWJlbD0iZTYiIGRpc3RhbmNlPSIx
			OCIgcGxhY2VtZW50PSIwLjUiIHZpc2libGU9ImZhbHNlIi8+CiAg
			ICA8L2F4aXM+CiAgICA8dmVydGV4IGlkPSJlMTk3MiIgeD0iMS40
			MTE5NSIgeT0iOC41NjQ0MyIgd2lkdGg9IjIiPgogICAgICA8c25h
			cHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTI0NjIi
			IHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU4
			MTQ1IiBwYXJhbT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAg
			ICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUyMDg5IiB4PSI1
			LjY2NDMxIiB5PSI4LjU2NDQzIiB3aWR0aD0iMiIvPgogICAgPHZl
			cnRleCBpZD0iZTIxODQiIHg9IjUuNjY0MzEiIHk9IjMuNTY0NDMi
			IHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJlMjI5MCIgeD0i
			MS40MTE5NSIgeT0iMy41NjQ0MyIgd2lkdGg9IjIiLz4KICAgIDx2
			ZXJ0ZXggaWQ9ImUyNDYyIiB4PSIxLjQxMTk1IiB5PSI4LjU2NDQz
			IiB3aWR0aD0iMiI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAg
			IDxlbGVtZW50IGlkcmVmPSJlMTk3MiIgcGFyYW09IjAiLz4KICAg
			ICAgICA8ZWxlbWVudCBpZHJlZj0iZTgxNDUiIHBhcmFtPSIwIi8+
			CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4PgogICAg
			PHZlcnRleCBpZD0iZTI2MDIiIHg9IjQuNDg4MjEiIHk9IjkuMzgy
			OTQiIHdpZHRoPSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUzMTAxIiBwYXJhbT0iMCIvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDk0MzEiIHBhcmFtPSIw
			Ii8+CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4Pgog
			ICAgPHZlcnRleCBpZD0iZTI3MjAiIHg9IjQuNDg3NjYiIHk9IjQu
			NzM2ODUiIHdpZHRoPSIyIj4KICAgICAgPHNuYXBwZWQtdG8+CiAg
			ICAgICAgPGVsZW1lbnQgaWRyZWY9ImU1MDI1NCIgcGFyYW09IjAi
			Lz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTUxNTk5IiBwYXJh
			bT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRl
			eD4KICAgIDx2ZXJ0ZXggaWQ9ImUyODk3IiB4PSI2LjU5OTg0IiB5
			PSIzLjE3NjA0IiB3aWR0aD0iMiI+CiAgICAgIDxzbmFwcGVkLXRv
			PgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlNDk4MTUiIHBhcmFt
			PSIwIi8+CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4
			PgogICAgPHZlcnRleCBpZD0iZTMwMjUiIHg9IjYuNTk5ODQiIHk9
			IjkuNDAxMDkiIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJl
			MzEwMSIgeD0iNC40ODgyMSIgeT0iOS4zODI5NCIgd2lkdGg9IjIi
			PgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBp
			ZHJlZj0iZTI2MDIiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1l
			bnQgaWRyZWY9ImU0OTQzMSIgcGFyYW09IjAiLz4KICAgICAgPC9z
			bmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlk
			PSJlMzIzMCIgeD0iNC40ODgxMSIgeT0iOC41NjYyMyIgd2lkdGg9
			IjIiPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTcxNjIiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImU1MTI3NyIgcGFyYW09IjAiLz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTI1MTUiIHBhcmFtPSIwLjA0NDAz
			MjUzIi8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxOTM2IiBw
			YXJhbT0iMC4xODA4NTA0Ii8+CiAgICAgIDwvc25hcHBlZC10bz4K
			ICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0iZTM0MjEiIHg9
			IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdpZHRoPSIyIj4KICAgICAg
			PHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3
			Mzc1IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVm
			PSJlNTIwNDMiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImUyNTE1IiBwYXJhbT0iMC4zODkyMTg4Ii8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUxOTM2IiBwYXJhbT0iMC40ODQ4
			Mzc3Ii8+CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4
			PgogICAgPHZlcnRleCBpZD0iZTcxNjIiIHg9IjQuNDg4MTEiIHk9
			IjguNTY2MjMiIHdpZHRoPSIwIj4KICAgICAgPGNvbG9yIHc9IjAu
			OTAxNDYiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUzMjMwIiBwYXJhbT0iMCIvPgogICAgICAg
			IDxlbGVtZW50IGlkcmVmPSJlNTEyNzciIHBhcmFtPSIwIi8+CiAg
			ICAgICAgPGVsZW1lbnQgaWRyZWY9ImUyNTE1IiBwYXJhbT0iMC4w
			NDQwMzI1MyIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTkz
			NiIgcGFyYW09IjAuMTgwODUwNCIvPgogICAgICA8L3NuYXBwZWQt
			dG8+CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImU3Mzc1
			IiB4PSI1LjY2NDExIiB5PSIzLjg2NzUxIiB3aWR0aD0iMCI+CiAg
			ICAgIDxjb2xvciB3PSIwLjkwMTQ2Ii8+CiAgICAgIDxzbmFwcGVk
			LXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMzQyMSIgcGFy
			YW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTUyMDQz
			IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			MjUxNSIgcGFyYW09IjAuMzg5MjE4OCIvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlMTkzNiIgcGFyYW09IjAuNDg0ODM3NyIvPgog
			ICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDx2
			ZXJ0ZXggaWQ9ImU4MTQ1IiB4PSIxLjQxMTk1IiB5PSI4LjU2NDQz
			IiB3aWR0aD0iMCI+CiAgICAgIDxjb2xvciB3PSIwLjkwMTQ2Ii8+
			CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlMjQ2MiIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTE5NzIiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25h
			cHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0i
			ZTQ5NDMxIiB4PSI0LjQ4ODIxIiB5PSI5LjM4Mjk0IiB3aWR0aD0i
			MCI+CiAgICAgIDxjb2xvciB3PSIwLjkwMTQ2Ii8+CiAgICAgIDxz
			bmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMzEw
			MSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTI2MDIiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25hcHBlZC10bz4K
			ICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0iZTQ5ODE1IiB4
			PSI2LjU5OTg0IiB5PSIzLjE3NjA0IiB3aWR0aD0iMCI+CiAgICAg
			IDxjb2xvciB3PSIwLjkwMTQ2Ii8+CiAgICAgIDxzbmFwcGVkLXRv
			PgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMjg5NyIgcGFyYW09
			IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+
			CiAgICA8dmVydGV4IGlkPSJlNTAyNTQiIHg9IjQuNDg3NjYiIHk9
			IjQuNzM2ODUiIHdpZHRoPSIwIj4KICAgICAgPGNvbG9yIHc9IjAu
			OTAxNDYiLz4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImUyNzIwIiBwYXJhbT0iMCIvPgogICAgICAg
			IDxlbGVtZW50IGlkcmVmPSJlNTE1OTkiIHBhcmFtPSIwIi8+CiAg
			ICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZl
			cnRleCBpZD0iZTUxMjc3IiB4PSI0LjQ4ODExIiB5PSI4LjU2NjIz
			IiB3aWR0aD0iMCI+CiAgICAgIDxjb2xvciB3PSIxIi8+CiAgICAg
			IDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			NzE2MiIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTMyMzAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImUyNTE1IiBwYXJhbT0iMC4wNDQwMzI1MyIvPgogICAg
			ICAgIDxlbGVtZW50IGlkcmVmPSJlMTkzNiIgcGFyYW09IjAuMTgw
			ODUwNCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRl
			eD4KICAgIDx2ZXJ0ZXggaWQ9ImU1MTU5OSIgeD0iNC40ODc2NiIg
			eT0iNC43MzY4NSIgd2lkdGg9IjAiPgogICAgICA8Y29sb3Igdz0i
			MSIvPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVu
			dCBpZHJlZj0iZTUwMjU0IiBwYXJhbT0iMCIvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlMjcyMCIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlNTIwNDMiIHg9IjUuNjY0MTEiIHk9IjMuODY3NTEiIHdp
			ZHRoPSIwIj4KICAgICAgPGNvbG9yIHc9IjEiLz4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3Mzc1
			IiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			MzQyMSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTI1MTUiIHBhcmFtPSIwLjM4OTIxODgiLz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTE5MzYiIHBhcmFtPSIwLjQ4NDgzNzci
			Lz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAg
			ICA8dmVydGV4IGlkPSJlNTYyNTQiIHg9IjIiIHk9IjgiIHdpZHRo
			PSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJl
			NTY4NjIiIHg9IjIiIHk9IjciIHdpZHRoPSIyIiBzaGFwZT0iY2ly
			Y2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNTc0MTciIHg9IjIiIHk9
			IjYiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVy
			dGV4IGlkPSJlNTc3NjciIHg9IjIiIHk9IjUiIHdpZHRoPSIyIiBz
			aGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNTgyNzQi
			IHg9IjIiIHk9IjQiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+
			CiAgICA8dmVydGV4IGlkPSJlNTg1NTQiIHg9IjMiIHk9IjQiIHdp
			ZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlk
			PSJlNTg4NzIiIHg9IjMiIHk9IjUiIHdpZHRoPSIyIiBzaGFwZT0i
			Y2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNTkzMTkiIHg9IjMi
			IHk9IjYiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8
			dmVydGV4IGlkPSJlNTk2MzciIHg9IjMiIHk9IjciIHdpZHRoPSIy
			IiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNTk5
			ODAiIHg9IjMiIHk9IjgiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xl
			Ii8+CiAgICA8dmVydGV4IGlkPSJlNjAzODUiIHg9IjQiIHk9Ijgi
			IHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4
			IGlkPSJlNjA4ODYiIHg9IjQiIHk9IjciIHdpZHRoPSIyIiBzaGFw
			ZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjExNjUiIHg9
			IjQiIHk9IjYiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAg
			ICA8dmVydGV4IGlkPSJlNjE1NzUiIHg9IjQiIHk9IjUiIHdpZHRo
			PSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJl
			NjE3NTAiIHg9IjQiIHk9IjQiIHdpZHRoPSIyIiBzaGFwZT0iY2ly
			Y2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjIwODEiIHg9IjUiIHk9
			IjQiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVy
			dGV4IGlkPSJlNjI0NTIiIHg9IjUiIHk9IjUiIHdpZHRoPSIyIiBz
			aGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjI4NzQi
			IHg9IjUiIHk9IjYiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+
			CiAgICA8dmVydGV4IGlkPSJlNjMyNDQiIHg9IjUiIHk9IjciIHdp
			ZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlk
			PSJlNjM5MTYiIHg9IjUiIHk9IjgiIHdpZHRoPSIyIiBzaGFwZT0i
			Y2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjQ2MzAiIHg9IjYi
			IHk9IjgiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8
			dmVydGV4IGlkPSJlNjUxMTIiIHg9IjYiIHk9IjciIHdpZHRoPSIy
			IiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjUz
			NzkiIHg9IjYiIHk9IjYiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xl
			Ii8+CiAgICA8dmVydGV4IGlkPSJlNjU4MTUiIHg9IjYiIHk9IjUi
			IHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4
			IGlkPSJlNjYyNTEiIHg9IjYiIHk9IjQiIHdpZHRoPSIyIiBzaGFw
			ZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlNjc0ODYiIHg9
			IjYiIHk9IjkiIHdpZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAg
			ICA8dmVydGV4IGlkPSJlNjgwMzYiIHg9IjUiIHk9IjkiIHdpZHRo
			PSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJl
			NzA0MDYiIHg9IjIuODY4MjYiIHk9IjMuMDMyNjQiIHdpZHRoPSIy
			Ij4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQg
			aWRyZWY9ImU3MTY0NSIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFw
			cGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJl
			NzA2NjkiIHg9IjIuMTg2NjYiIHk9IjMuMDE2MzEiIHdpZHRoPSIy
			Ii8+CiAgICA8dmVydGV4IGlkPSJlNzEwODQiIHg9IjIuMTg2NjYi
			IHk9IjIuMTU3ODciIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlk
			PSJlNzEzNzciIHg9IjIuODY4MjYiIHk9IjIuMTU3ODciIHdpZHRo
			PSIyIi8+CiAgICA8dmVydGV4IGlkPSJlNzE2NDUiIHg9IjIuODY4
			MjYiIHk9IjMuMDMyNjQiIHdpZHRoPSIyIj4KICAgICAgPHNuYXBw
			ZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3MDQwNiIg
			cGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92
			ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNzI2NzQiIHg9IjIuMzg5
			NDgiIHk9IjEuNjUzMzMiIHdpZHRoPSIyIj4KICAgICAgPHNuYXBw
			ZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU3NDA5NyIg
			cGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92
			ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlNzI5MjQiIHg9IjIuNzY2
			MDYiIHk9IjEuNjUzMzMiIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4
			IGlkPSJlNzMzNTQiIHg9IjIuNzY2MDYiIHk9IjAuNjUzMzM3IiB3
			aWR0aD0iMiIvPgogICAgPHZlcnRleCBpZD0iZTczNzA3IiB4PSIy
			LjM4OTQ4IiB5PSIwLjkwNTYwNSIgd2lkdGg9IjIiLz4KICAgIDx2
			ZXJ0ZXggaWQ9ImU3NDA5NyIgeD0iMi4zODk0OCIgeT0iMS42NTMz
			MyIgd2lkdGg9IjIiPgogICAgICA8c25hcHBlZC10bz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTcyNjc0IiBwYXJhbT0iMCIvPgog
			ICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDx2
			ZXJ0ZXggaWQ9ImU5MDYzNyIgeD0iNC4xMjkyNyIgeT0iMy4wMTYz
			MSIgd2lkdGg9IjIiLz4KICAgIDx2ZXJ0ZXggaWQ9ImU5MDY0MSIg
			eD0iMy42ODM1MSIgeT0iMy4wMTQ0OSIgd2lkdGg9IjIiLz4KICAg
			IDx2ZXJ0ZXggaWQ9ImU5MDY0MiIgeD0iMy42ODM1MSIgeT0iMi4x
			NzYwMiIgd2lkdGg9IjIiLz4KICAgIDx2ZXJ0ZXggaWQ9ImU5MDY0
			MyIgeD0iNC4yOTU5MyIgeT0iMi4xNzYwMiIgd2lkdGg9IjIiPgog
			ICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTk3NzUwIiBwYXJhbT0iMCIvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlOTA2MzkiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25h
			cHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0i
			ZTkwNjM5IiB4PSI0LjI5NTkzIiB5PSIyLjE3NjAyIiB3aWR0aD0i
			MiI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlOTc3NTAiIHBhcmFtPSIwIi8+CiAgICAgICAgPGVs
			ZW1lbnQgaWRyZWY9ImU5MDY0MyIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlOTI3NTkiIHg9IjQuMTI5MjciIHk9IjMuMDE2MzEiIHdp
			ZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJlOTMwODkiIHg9IjQu
			Mjk1OTMiIHk9IjIuMzc5MjkiIHdpZHRoPSIyIj4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU5Nzcx
			NCIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAg
			PC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlOTc3MTQiIHg9IjQu
			Mjk1OTMiIHk9IjIuMzc5MjkiIHdpZHRoPSIyIj4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU5MzA4
			OSIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAg
			PC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlOTc3NTAiIHg9IjQu
			Mjk1OTMiIHk9IjIuMTc2MDIiIHdpZHRoPSIyIj4KICAgICAgPHNu
			YXBwZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImU5MDYz
			OSIgcGFyYW09IjAiLz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTkwNjQzIiBwYXJhbT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+
			CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUxMDgzMTMi
			IHg9IjMuODU5NiIgeT0iMS42NTMzNCIgd2lkdGg9IjIiPgogICAg
			ICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBpZHJlZj0i
			ZTEwOTE0MyIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVkLXRv
			PgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMTA4MzI4
			IiB4PSIzLjg1OTYxIiB5PSIxLjAxNDUiIHdpZHRoPSIyIi8+CiAg
			ICA8dmVydGV4IGlkPSJlMTA4MzI0IiB4PSI0LjExNTkiIHk9IjAu
			ODM0ODI1IiB3aWR0aD0iMiI+CiAgICAgIDxzbmFwcGVkLXRvPgog
			ICAgICAgIDxlbGVtZW50IGlkcmVmPSJlMTA5NzI4IiBwYXJhbT0i
			MCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRleD4K
			ICAgIDx2ZXJ0ZXggaWQ9ImUxMDkxNDMiIHg9IjMuODU5NiIgeT0i
			MS42NTMzNCIgd2lkdGg9IjIiPgogICAgICA8c25hcHBlZC10bz4K
			ICAgICAgICA8ZWxlbWVudCBpZHJlZj0iZTEwODMxMyIgcGFyYW09
			IjAiLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+
			CiAgICA8dmVydGV4IGlkPSJlMTA5NDc3IiB4PSI0LjExNTkiIHk9
			IjEuNjUzMzQiIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJl
			MTA5NzI4IiB4PSI0LjExNTkiIHk9IjAuODM0ODI1IiB3aWR0aD0i
			MiI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50
			IGlkcmVmPSJlMTA4MzI0IiBwYXJhbT0iMCIvPgogICAgICA8L3Nu
			YXBwZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDxsaW5lIGlkPSJl
			MTkzNiIgd2lkdGg9IjIiIGRhc2g9InNvbGlkIiBjbGFzcz0iY29u
			bmVjdCIgbWV0aG9kPSJzdHJhaWdodCI+CiAgICAgIDx2ZXJ0aWNl
			cyBpZHM9ImUxOTcyIGUyMDg5IGUyMTg0IGUyMjkwIGUyNDYyIi8+
			CiAgICA8L2xpbmU+CiAgICA8bGluZSBpZD0iZTI1MTUiIHdpZHRo
			PSIyIiBkYXNoPSJkb3RzIiBjbGFzcz0iY29ubmVjdCIgbWV0aG9k
			PSJzdHJhaWdodCI+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9ImUyNjAy
			IGUyNzIwIGUyODk3IGUzMDI1IGUzMTAxIi8+CiAgICA8L2xpbmU+
			CiAgICA8bGluZSBpZD0iZTMxMzMiIHdpZHRoPSIyIiBkYXNoPSJk
			YXNoZXMtbG9uZyIgY2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3Ry
			YWlnaHQiPgogICAgICA8dmVydGljZXMgaWRzPSJlMzIzMCBlMzQy
			MSIvPgogICAgPC9saW5lPgogICAgPGxpbmUgaWQ9ImU2ODU1NiIg
			d2lkdGg9IjIiIGRhc2g9InNvbGlkIiBjbGFzcz0iY29ubmVjdCIg
			bWV0aG9kPSJzdHJhaWdodCI+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9
			ImU3MDQwNiBlNzA2NjkgZTcxMDg0IGU3MTM3NyBlNzE2NDUiLz4K
			ICAgIDwvbGluZT4KICAgIDxsaW5lIGlkPSJlNzE2ODkiIHdpZHRo
			PSIyIiBkYXNoPSJkb3RzIiBjbGFzcz0iY29ubmVjdCIgbWV0aG9k
			PSJzdHJhaWdodCI+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9ImU3MjY3
			NCBlNzI5MjQgZTczMzU0IGU3MzcwNyBlNzQwOTciLz4KICAgIDwv
			bGluZT4KICAgIDxsaW5lIGlkPSJlOTA2MzUiIHdpZHRoPSIyIiBk
			YXNoPSJzb2xpZCIgY2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3Ry
			YWlnaHQiPgogICAgICA8dmVydGljZXMgaWRzPSJlOTA2MzcgZTkw
			NjQxIGU5MDY0MiBlOTA2NDMgZTkwNjM5Ii8+CiAgICA8L2xpbmU+
			CiAgICA8bGluZSBpZD0iZTc0NTE3IiB3aWR0aD0iMiIgZGFzaD0i
			ZGFzaGVzIiBjbGFzcz0iY29ubmVjdCIgbWV0aG9kPSJzdHJhaWdo
			dCI+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9ImU5Mjc1OSBlOTMwODki
			Lz4KICAgIDwvbGluZT4KICAgIDxsaW5lIGlkPSJlOTQxMjciIHdp
			ZHRoPSIyIiBkYXNoPSJzb2xpZCIgY2xhc3M9ImNvbm5lY3QiIG1l
			dGhvZD0ic3RyYWlnaHQiPgogICAgICA8dmVydGljZXMgaWRzPSJl
			OTc3MTQgZTk3NzUwIi8+CiAgICA8L2xpbmU+CiAgICA8bGluZSBp
			ZD0iZTEwODMxMSIgd2lkdGg9IjIiIGRhc2g9ImRvdHMiIGNsYXNz
			PSJjb25uZWN0IiBtZXRob2Q9InN0cmFpZ2h0Ij4KICAgICAgPHZl
			cnRpY2VzIGlkcz0iZTEwODMxMyBlMTA4MzI4IGUxMDgzMjQiLz4K
			ICAgIDwvbGluZT4KICAgIDxsaW5lIGlkPSJlMTA4Mjk1IiB3aWR0
			aD0iMiIgZGFzaD0ic29saWQiIGNsYXNzPSJjb25uZWN0IiBtZXRo
			b2Q9InN0cmFpZ2h0Ij4KICAgICAgPHZlcnRpY2VzIGlkcz0iZTEw
			OTE0MyBlMTA5NDc3IGUxMDk3MjgiLz4KICAgIDwvbGluZT4KICAg
			IDxmaWxsIGlkPSJlNjgwNyI+CiAgICAgIDxjb2xvciB3PSIwLjkw
			MTQ2Ii8+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9ImU3MTYyIGU3Mzc1
			IGU4MTQ1Ii8+CiAgICA8L2ZpbGw+CiAgICA8ZmlsbCBpZD0iZTQ4
			ODI5Ij4KICAgICAgPGNvbG9yIHc9IjAuOTAxNDYiLz4KICAgICAg
			PHZlcnRpY2VzIGlkcz0iZTQ5NDMxIGU0OTgxNSBlNTAyNTQiLz4K
			ICAgIDwvZmlsbD4KICAgIDxmaWxsIGlkPSJlNTExOTgiPgogICAg
			ICA8Y29sb3Igdz0iMSIvPgogICAgICA8dmVydGljZXMgaWRzPSJl
			NTEyNzcgZTUxNTk5IGU1MjA0MyIvPgogICAgPC9maWxsPgogICAg
			PGxhYmVsIGlkPSJlMyIgeD0iNC43NzQ3NyIgeT0iLTAuNTU0NjQ5
			IiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAg
			IDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD5Y
			IEF4aXM8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwv
			cD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJl
			bCBpZD0iZTYiIHg9Ii0wLjIyMTk0OCIgeT0iNC43MDIzIiByb3Rh
			dGlvbj0iOTAiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+
			CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAg
			ICA8bGl0PlkgQXhpczwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlODA0NTIiIHg9IjMuMDA2NjMiIHk9IjIu
			MzU3NTEiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAg
			ICAgIDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAg
			ICAgICA8dmFsdWUga2V5PSJmb250LWZhbWlseSI+Q01VIFNlcmlm
			PC92YWx1ZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250
			LWl0YWxpYyI+eWVzPC92YWx1ZT4KICAgICAgICAgICAgICA8dmFs
			dWUga2V5PSJmb250LXNpemUiPjIyPC92YWx1ZT4KICAgICAgICAg
			ICAgPC9zdHlsZT4KICAgICAgICAgICAgPGxpdD5DPC9saXQ+CiAg
			ICAgICAgICA8L3J1bj4KICAgICAgICAgIDxydW4+CiAgICAgICAg
			ICAgIDxzdHlsZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJm
			b250LXNpemUiPjIyPC92YWx1ZT4KICAgICAgICAgICAgPC9zdHls
			ZT4KICAgICAgICAgICAgPGxpdD7igoE8L2xpdD4KICAgICAgICAg
			IDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAg
			PC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTg5Mzc4IiB4PSIzLjA2
			MDA5IiB5PSIwLjk3ODIiPgogICAgICA8dGV4dD4KICAgICAgICA8
			cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4K
			ICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LWZhbWlseSI+
			Q01VIFNlcmlmPC92YWx1ZT4KICAgICAgICAgICAgICA8dmFsdWUg
			a2V5PSJmb250LWl0YWxpYyI+eWVzPC92YWx1ZT4KICAgICAgICAg
			ICAgICA8dmFsdWUga2V5PSJmb250LXNpemUiPjIyPC92YWx1ZT4K
			ICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPGxpdD5C
			PC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAg
			ICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9
			ImU5NTA2MiIgeD0iNC40MzY2NiIgeT0iMi4zNzU2NiI+CiAgICAg
			IDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAg
			ICAgICAgICAgPHN0eWxlPgogICAgICAgICAgICAgIDx2YWx1ZSBr
			ZXk9ImZvbnQtZmFtaWx5Ij5DTVUgU2VyaWY8L3ZhbHVlPgogICAg
			ICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQtaXRhbGljIj55ZXM8
			L3ZhbHVlPgogICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQt
			c2l6ZSI+MjI8L3ZhbHVlPgogICAgICAgICAgICA8L3N0eWxlPgog
			ICAgICAgICAgICA8bGl0PkM8L2xpdD4KICAgICAgICAgIDwvcnVu
			PgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPHN0eWxlPgog
			ICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQtZmlsbCI+CiAg
			ICAgICAgICAgICAgICA8Y29sb3Igdz0iMCIvPgogICAgICAgICAg
			ICAgIDwvdmFsdWU+CiAgICAgICAgICAgICAgPHZhbHVlIGtleT0i
			Zm9udC1zaXplIj4yMjwvdmFsdWU+CiAgICAgICAgICAgIDwvc3R5
			bGU+CiAgICAgICAgICAgIDxsaXQ+4oKBPC9saXQ+CiAgICAgICAg
			ICA8L3J1bj4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxz
			dHlsZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LWZh
			bWlseSI+Q01VIFNlcmlmPC92YWx1ZT4KICAgICAgICAgICAgICA8
			dmFsdWUga2V5PSJmb250LWl0YWxpYyI+eWVzPC92YWx1ZT4KICAg
			ICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LXNpemUiPjIyPC92
			YWx1ZT4KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAg
			PGxpdD4gPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICAg
			IDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAgICAg
			ICA8dmFsdWUga2V5PSJmb250LWZhbWlseSI+QXBwbGUgU3ltYm9s
			czwvdmFsdWU+CiAgICAgICAgICAgICAgPHZhbHVlIGtleT0iZm9u
			dC1zaXplIj4yMjwvdmFsdWU+CiAgICAgICAgICAgIDwvc3R5bGU+
			CiAgICAgICAgICAgIDxsaXQ+4oqTPC9saXQ+CiAgICAgICAgICA8
			L3J1bj4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxzdHls
			ZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LWZhbWls
			eSI+Q01VIFNlcmlmPC92YWx1ZT4KICAgICAgICAgICAgICA8dmFs
			dWUga2V5PSJmb250LWl0YWxpYyI+eWVzPC92YWx1ZT4KICAgICAg
			ICAgICAgICA8dmFsdWUga2V5PSJmb250LXNpemUiPjIyPC92YWx1
			ZT4KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAgICAgPGxp
			dD4gYSjCrEIpPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAg
			ICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8
			bGFiZWwgaWQ9ImUxMTExNzMiIHg9IjQuNDM2NjYiIHk9IjEuMDUw
			OCI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAg
			PHJ1bj4KICAgICAgICAgICAgPHN0eWxlPgogICAgICAgICAgICAg
			IDx2YWx1ZSBrZXk9ImZvbnQtZmFtaWx5Ij5DTVUgU2VyaWY8L3Zh
			bHVlPgogICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQtaXRh
			bGljIj55ZXM8L3ZhbHVlPgogICAgICAgICAgICAgIDx2YWx1ZSBr
			ZXk9ImZvbnQtc2l6ZSI+MjI8L3ZhbHVlPgogICAgICAgICAgICA8
			L3N0eWxlPgogICAgICAgICAgICA8bGl0PkM8L2xpdD4KICAgICAg
			ICAgIDwvcnVuPgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAg
			PHN0eWxlPgogICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQt
			ZmlsbCI+CiAgICAgICAgICAgICAgICA8Y29sb3Igdz0iMCIvPgog
			ICAgICAgICAgICAgIDwvdmFsdWU+CiAgICAgICAgICAgICAgPHZh
			bHVlIGtleT0iZm9udC1zaXplIj4yMjwvdmFsdWU+CiAgICAgICAg
			ICAgIDwvc3R5bGU+CiAgICAgICAgICAgIDxsaXQ+4oKBPC9saXQ+
			CiAgICAgICAgICA8L3J1bj4KICAgICAgICAgIDxydW4+CiAgICAg
			ICAgICAgIDxzdHlsZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5
			PSJmb250LWZhbWlseSI+Q01VIFNlcmlmPC92YWx1ZT4KICAgICAg
			ICAgICAgICA8dmFsdWUga2V5PSJmb250LWl0YWxpYyI+eWVzPC92
			YWx1ZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LXNp
			emUiPjIyPC92YWx1ZT4KICAgICAgICAgICAgPC9zdHlsZT4KICAg
			ICAgICAgICAgPGxpdD4gPC9saXQ+CiAgICAgICAgICA8L3J1bj4K
			ICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4KICAg
			ICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LWZhbWlseSI+QXBw
			bGUgU3ltYm9sczwvdmFsdWU+CiAgICAgICAgICAgICAgPHZhbHVl
			IGtleT0iZm9udC1zaXplIj4yMjwvdmFsdWU+CiAgICAgICAgICAg
			IDwvc3R5bGU+CiAgICAgICAgICAgIDxsaXQ+4oqTPC9saXQ+CiAg
			ICAgICAgICA8L3J1bj4KICAgICAgICAgIDxydW4+CiAgICAgICAg
			ICAgIDxzdHlsZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJm
			b250LWZhbWlseSI+Q01VIFNlcmlmPC92YWx1ZT4KICAgICAgICAg
			ICAgICA8dmFsdWUga2V5PSJmb250LWl0YWxpYyI+eWVzPC92YWx1
			ZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LXNpemUi
			PjIyPC92YWx1ZT4KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAg
			ICAgICAgPGxpdD4gYShCKTwvbGl0PgogICAgICAgICAgPC9ydW4+
			CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVs
			PgogICAgPGxhYmVsIGlkPSJlMTEyNzQzIiB4PSIyLjM2NTEyIiB5
			PSIyLjM3NTY2Ij4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAg
			ICAgICAgICA8cnVuPgogICAgICAgICAgICA8c3R5bGU+CiAgICAg
			ICAgICAgICAgPHZhbHVlIGtleT0iZm9udC1zaXplIj4xODwvdmFs
			dWU+CiAgICAgICAgICAgIDwvc3R5bGU+CiAgICAgICAgICAgIDxs
			aXQ+MjA8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwv
			cD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJl
			bCBpZD0iZTExMzAyMSIgeD0iMi40MTg1OCIgeT0iMS4wMzI2NSI+
			CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1
			bj4KICAgICAgICAgICAgPHN0eWxlPgogICAgICAgICAgICAgIDx2
			YWx1ZSBrZXk9ImZvbnQtc2l6ZSI+MTg8L3ZhbHVlPgogICAgICAg
			ICAgICA8L3N0eWxlPgogICAgICAgICAgICA8bGl0PjExPC9saXQ+
			CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwv
			dGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUxMTM3
			MDEiIHg9IjMuOTE1NDMiIHk9IjEuMDg3MDkiPgogICAgICA8dGV4
			dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAg
			ICAgIDxzdHlsZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJm
			b250LXNpemUiPjE4PC92YWx1ZT4KICAgICAgICAgICAgPC9zdHls
			ZT4KICAgICAgICAgICAgPGxpdD40PC9saXQ+CiAgICAgICAgICA8
			L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwv
			bGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUxMTQ5NTYiIHg9IjMuNzk1
			MTUiIHk9IjIuMzc1NjYiPgogICAgICA8dGV4dD4KICAgICAgICA8
			cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4K
			ICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LXNpemUiPjE4
			PC92YWx1ZT4KICAgICAgICAgICAgPC9zdHlsZT4KICAgICAgICAg
			ICAgPGxpdD4xODwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAg
			ICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAg
			PGxhYmVsIGlkPSJlMTkiIHg9IjYuOTQ5MzYiIHk9Ii0wLjM2MjMx
			OSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAg
			ICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+
			NzwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgog
			ICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlk
			PSJlMiIgeD0iOS45MDY0NCIgeT0iLTAuMzI2MjY0IiB2aXNpYmxl
			PSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAg
			ICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4xMDwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMTUiIHg9
			IjIuOTQ5MzYiIHk9Ii0wLjM2MjMxOSIgdmlzaWJsZT0iZmFsc2Ui
			PgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxy
			dW4+CiAgICAgICAgICAgIDxsaXQ+MzwvbGl0PgogICAgICAgICAg
			PC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8
			L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjAiIHg9IjcuOTQ5MzYi
			IHk9Ii0wLjM2MjMxOSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8
			dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAg
			ICAgICAgIDxsaXQ+ODwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlMTYiIHg9IjMuOTQ5MzYiIHk9Ii0wLjM2
			MjMxOSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAg
			ICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxs
			aXQ+NDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9w
			PgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVs
			IGlkPSJlMSIgeD0iLTAuMDQ2NzgxMSIgeT0iLTAuMzI2MjY0IiB2
			aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxw
			PgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4wPC9s
			aXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAg
			IDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUx
			NyIgeD0iNC45NDkzNiIgeT0iLTAuMzYyMzE5IiB2aXNpYmxlPSJm
			YWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAg
			ICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD41PC9saXQ+CiAgICAg
			ICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4K
			ICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUxMyIgeD0iMC45
			NDkzNjMiIHk9Ii0wLjM2MjMxOSIgdmlzaWJsZT0iZmFsc2UiPgog
			ICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+
			CiAgICAgICAgICAgIDxsaXQ+MTwvbGl0PgogICAgICAgICAgPC9y
			dW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xh
			YmVsPgogICAgPGxhYmVsIGlkPSJlMjEiIHg9IjguOTQ5MzYiIHk9
			Ii0wLjM2MjMxOSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4
			dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAg
			ICAgIDxsaXQ+OTwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAg
			ICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAg
			PGxhYmVsIGlkPSJlMTgiIHg9IjUuOTQ5MzYiIHk9Ii0wLjM2MjMx
			OSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAg
			ICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+
			NjwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgog
			ICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlk
			PSJlMTQiIHg9IjEuOTQ5MzYiIHk9Ii0wLjM2MjMxOSIgdmlzaWJs
			ZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAg
			ICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+MjwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjgiIHg9
			Ii0wLjE3OTUzOCIgeT0iNi44NTc5IiB2aXNpYmxlPSJmYWxzZSI+
			CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1
			bj4KICAgICAgICAgICAgPGxpdD43PC9saXQ+CiAgICAgICAgICA8
			L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwv
			bGFiZWw+CiAgICA8bGFiZWwgaWQ9ImU1IiB4PSItMC4yNjExMDci
			IHk9IjkuODY5NDkiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRl
			eHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAg
			ICAgICA8bGl0PjEwPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAg
			ICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAg
			ICA8bGFiZWwgaWQ9ImUyNCIgeD0iLTAuMTc5NTM4IiB5PSIyLjg1
			NzkiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAg
			ICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0
			PjM8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4K
			ICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBp
			ZD0iZTI5IiB4PSItMC4xNzk1MzgiIHk9IjcuODU3OSIgdmlzaWJs
			ZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAg
			ICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+ODwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjUiIHg9
			Ii0wLjE3OTUzOCIgeT0iMy44NTc5IiB2aXNpYmxlPSJmYWxzZSI+
			CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1
			bj4KICAgICAgICAgICAgPGxpdD40PC9saXQ+CiAgICAgICAgICA8
			L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwv
			bGFiZWw+CiAgICA8bGFiZWwgaWQ9ImU0IiB4PSItMC4xNjc1NDUi
			IHk9Ii0wLjEzMDUwNiIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8
			dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAg
			ICAgICAgIDxsaXQ+MDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlMjYiIHg9Ii0wLjE3OTUzOCIgeT0iNC44
			NTc5IiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAg
			ICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxp
			dD41PC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+
			CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwg
			aWQ9ImUyMiIgeD0iLTAuMTc5NTM4IiB5PSIwLjg1NzkwNCIgdmlz
			aWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4K
			ICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+MTwvbGl0
			PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8
			L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMzAi
			IHg9Ii0wLjE3OTUzOCIgeT0iOC44NTc5IiB2aXNpYmxlPSJmYWxz
			ZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAg
			PHJ1bj4KICAgICAgICAgICAgPGxpdD45PC9saXQ+CiAgICAgICAg
			ICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAg
			IDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUyNyIgeD0iLTAuMTc5
			NTM4IiB5PSI1Ljg1NzkiIHZpc2libGU9ImZhbHNlIj4KICAgICAg
			PHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAg
			ICAgICAgICA8bGl0PjY8L2xpdD4KICAgICAgICAgIDwvcnVuPgog
			ICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4K
			ICAgIDxsYWJlbCBpZD0iZTIzIiB4PSItMC4xNzk1MzgiIHk9IjEu
			ODU3OSIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAg
			ICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxs
			aXQ+MjwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9w
			PgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogIDwvZ3JhcGg+
			CjwvZG9jdW1lbnQ+Cg==
			</data>
			<key>bundleId</key>
			<string>com.omnigroup.OmniGraphSketcher</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>OmniGraphSketcher</string>
			<key>serverName</key>
			<string>OmniGraphSketcher</string>
			<key>version</key>
			<string>A</string>
		</dict>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image7.pdf</string>
		<string>image5.pdf</string>
		<string>image3.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-02-05 15:46:41 -0500</string>
	<key>Modifier</key>
	<string>Stephen Magill</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{278, 107}, {1388, 1065}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-51, -89}, {1253, 911}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>4</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
