<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>138.17.0.133677</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {1152, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2011-02-07 23:50:48 -0500</string>
	<key>Creator</key>
	<string>Stephen Magill</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>GraphDocumentVersion</key>
	<integer>6</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{630, 225}, {53.0357, 33.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>ImageID</key>
			<integer>14</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{417, 237.5}, {53.0357, 33.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>21</integer>
			<key>ImageID</key>
			<integer>13</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{0, 36}, {823, 625}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>2</integer>
	<key>ImageCounter</key>
	<integer>15</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict>
			<key>ApplicationURL</key>
			<string>http://www.omnigroup.com/applications/OmniGraphSketcher</string>
			<key>appData</key>
			<data>
			PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiIHN0
			YW5kYWxvbmU9Im5vIj8+Cjxkb2N1bWVudCB4bWxucz0iaHR0cDov
			L3d3dy5vbW5pZ3JvdXAuY29tL25hbWVzcGFjZS9PbW5pR3JhcGhT
			a2V0Y2hlci92MSIgYXBwLWlkPSJjb20ub21uaWdyb3VwLk9tbmlH
			cmFwaFNrZXRjaGVyIiBhcHAtdmVyc2lvbj0iMjIuMTEuMC4xNDI0
			MzAiIG9zLW5hbWU9Ik5TTUFDSE9wZXJhdGluZ1N5c3RlbSIgb3Mt
			dmVyc2lvbj0iMTAuNi41IiBtYWNoaW5lLW1vZGVsPSJNYWNCb29r
			UHJvNSwzIj4KICA8d2luZG93PgogICAgPGZyYW1lIHg9IjY5IiB5
			PSIxNTUiIHc9IjgyMyIgaD0iNzIzIi8+CiAgPC93aW5kb3c+CiAg
			PGdyYXBoPgogICAgPGNhbnZhcyB3PSI4MjMiIGg9IjYyNSIgYXV0
			by13aGl0ZXNwYWNlPSJ0cnVlIj4KICAgICAgPHdoaXRlc3BhY2Ug
			dG9wPSI2IiByaWdodD0iNiIgYm90dG9tPSI2IiBsZWZ0PSI2Ii8+
			CiAgICAgIDxlZGdlLXBhZGRpbmcgdG9wPSI2IiByaWdodD0iNiIg
			Ym90dG9tPSI2IiBsZWZ0PSI2Ii8+CiAgICAgIDxzaGFkb3cgc3Ry
			ZW5ndGg9IjAiLz4KICAgIDwvY2FudmFzPgogICAgPGF4aXMgaWQ9
			ImF4IiBkaW1lbnNpb249IngiIG1pbj0iMCIgbWF4PSIxMCIgdXNl
			ck1vZGlmaWVkUmFuZ2U9ImZhbHNlIiB3aWR0aD0iMSIgcGxhY2Vt
			ZW50PSJvcmlnaW4iIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRp
			Y2tzIHNwYWNpbmc9IjEiIHdpZHRoLWluPSIzIiB3aWR0aC1vdXQ9
			IjEiIHZpc2libGU9ImZhbHNlIi8+CiAgICAgIDxncmlkIHNwYWNp
			bmc9IjEiIHdpZHRoPSIxIiBleHRlbmRzLXBhc3QtYXhpcz0iZmFs
			c2UiIHZpc2libGU9ImZhbHNlIj4KICAgICAgICA8Y29sb3Igcj0i
			MC45IiBnPSIwLjkiIGI9IjAuOSIvPgogICAgICA8L2dyaWQ+CiAg
			ICAgIDx0aWNrLWxhYmVscyBkaXN0YW5jZT0iMyIgcGFkZGluZz0i
			MTQiIHZpc2libGU9ImZhbHNlIj4KICAgICAgICA8dXNlci1sYWJl
			bHM+CiAgICAgICAgICA8bGFiZWwgdGljaz0iNyIgaWRyZWY9ImUx
			OSIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9IjMiIGlkcmVmPSJl
			MTUiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSJtYXhMYWJlbCIg
			aWRyZWY9ImUyIi8+CiAgICAgICAgICA8bGFiZWwgdGljaz0iOCIg
			aWRyZWY9ImUyMCIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9IjQi
			IGlkcmVmPSJlMTYiLz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSJt
			aW5MYWJlbCIgaWRyZWY9ImUxIi8+CiAgICAgICAgICA8bGFiZWwg
			dGljaz0iNSIgaWRyZWY9ImUxNyIvPgogICAgICAgICAgPGxhYmVs
			IHRpY2s9IjEiIGlkcmVmPSJlMTMiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI5IiBpZHJlZj0iZTIxIi8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0iNiIgaWRyZWY9ImUxOCIvPgogICAgICAgICAgPGxh
			YmVsIHRpY2s9IjIiIGlkcmVmPSJlMTQiLz4KICAgICAgICA8L3Vz
			ZXItbGFiZWxzPgogICAgICA8L3RpY2stbGFiZWxzPgogICAgICA8
			dGl0bGUgbGFiZWw9ImUzIiBkaXN0YW5jZT0iMTgiIHBsYWNlbWVu
			dD0iMC41IiB2aXNpYmxlPSJmYWxzZSIvPgogICAgPC9heGlzPgog
			ICAgPGF4aXMgaWQ9ImF5IiBkaW1lbnNpb249InkiIG1pbj0iMCIg
			bWF4PSIxMCIgdXNlck1vZGlmaWVkUmFuZ2U9ImZhbHNlIiB3aWR0
			aD0iMSIgcGxhY2VtZW50PSJvcmlnaW4iIHZpc2libGU9ImZhbHNl
			Ij4KICAgICAgPHRpY2tzIHNwYWNpbmc9IjEiIHdpZHRoLWluPSIz
			IiB3aWR0aC1vdXQ9IjEiIHZpc2libGU9ImZhbHNlIi8+CiAgICAg
			IDxncmlkIHNwYWNpbmc9IjEiIHdpZHRoPSIxIiBleHRlbmRzLXBh
			c3QtYXhpcz0iZmFsc2UiIHZpc2libGU9ImZhbHNlIj4KICAgICAg
			ICA8Y29sb3Igcj0iMC45IiBnPSIwLjkiIGI9IjAuOSIvPgogICAg
			ICA8L2dyaWQ+CiAgICAgIDx0aWNrLWxhYmVscyBkaXN0YW5jZT0i
			NSIgcGFkZGluZz0iNCIgdmlzaWJsZT0iZmFsc2UiPgogICAgICAg
			IDx1c2VyLWxhYmVscz4KICAgICAgICAgIDxsYWJlbCB0aWNrPSI3
			IiBpZHJlZj0iZTI4Ii8+CiAgICAgICAgICA8bGFiZWwgdGljaz0i
			MyIgaWRyZWY9ImUyNCIvPgogICAgICAgICAgPGxhYmVsIHRpY2s9
			Im1heExhYmVsIiBpZHJlZj0iZTUiLz4KICAgICAgICAgIDxsYWJl
			bCB0aWNrPSI4IiBpZHJlZj0iZTI5Ii8+CiAgICAgICAgICA8bGFi
			ZWwgdGljaz0iNCIgaWRyZWY9ImUyNSIvPgogICAgICAgICAgPGxh
			YmVsIHRpY2s9Im1pbkxhYmVsIiBpZHJlZj0iZTQiLz4KICAgICAg
			ICAgIDxsYWJlbCB0aWNrPSI1IiBpZHJlZj0iZTI2Ii8+CiAgICAg
			ICAgICA8bGFiZWwgdGljaz0iMSIgaWRyZWY9ImUyMiIvPgogICAg
			ICAgICAgPGxhYmVsIHRpY2s9IjkiIGlkcmVmPSJlMzAiLz4KICAg
			ICAgICAgIDxsYWJlbCB0aWNrPSI2IiBpZHJlZj0iZTI3Ii8+CiAg
			ICAgICAgICA8bGFiZWwgdGljaz0iMiIgaWRyZWY9ImUyMyIvPgog
			ICAgICAgIDwvdXNlci1sYWJlbHM+CiAgICAgIDwvdGljay1sYWJl
			bHM+CiAgICAgIDx0aXRsZSBsYWJlbD0iZTYiIGRpc3RhbmNlPSIx
			OCIgcGxhY2VtZW50PSIwLjUiIHZpc2libGU9ImZhbHNlIi8+CiAg
			ICA8L2F4aXM+CiAgICA8dmVydGV4IGlkPSJlNjgiIHg9IjMuNDU3
			ODciIHk9IjYuMjIzMjkiIHdpZHRoPSIyIj4KICAgICAgPHNuYXBw
			ZWQtdG8+CiAgICAgICAgPGVsZW1lbnQgaWRyZWY9ImUxODg4IiBw
			YXJhbT0iMCIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3Zl
			cnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImUxMDI1IiB4PSI1LjQ1Nzg3
			IiB5PSI3LjIyMzI5IiB3aWR0aD0iMiIvPgogICAgPHZlcnRleCBp
			ZD0iZTEyMzIiIHg9IjcuNDU3ODciIHk9IjcuMjIzMjkiIHdpZHRo
			PSIyIi8+CiAgICA8dmVydGV4IGlkPSJlMTYwMyIgeD0iNy40NTc4
			NyIgeT0iNi4yMjMyOSIgd2lkdGg9IjIiLz4KICAgIDx2ZXJ0ZXgg
			aWQ9ImUxODg4IiB4PSIzLjQ1Nzg3IiB5PSI2LjIyMzI5IiB3aWR0
			aD0iMiI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVt
			ZW50IGlkcmVmPSJlNjgiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25h
			cHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0i
			ZTI0ODMiIHg9IjQuMDA1ODMiIHk9IjYuMDA1NTEiIHdpZHRoPSIy
			IiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlMjUz
			NSIgeD0iNC4wMDU4MyIgeT0iNS4wMDU1MSIgd2lkdGg9IjIiIHNo
			YXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXggaWQ9ImUyNjEwIiB4
			PSI1LjAwNTgzIiB5PSI1LjAwNTUxIiB3aWR0aD0iMiIgc2hhcGU9
			ImNpcmNsZSI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxl
			bGVtZW50IGlkcmVmPSJlMzMyNyIgcGFyYW09IjAiLz4KICAgICAg
			PC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4
			IGlkPSJlMjY3MSIgeD0iNS4wMDU4MyIgeT0iNi4wMDU1MSIgd2lk
			dGg9IjIiIHNoYXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXggaWQ9
			ImUyNzEyIiB4PSI2LjAwNTgzIiB5PSI2LjAwNTUxIiB3aWR0aD0i
			MiIgc2hhcGU9ImNpcmNsZSIvPgogICAgPHZlcnRleCBpZD0iZTI4
			MjUiIHg9IjcuMDA1ODMiIHk9IjYuMDA1NTEiIHdpZHRoPSIyIiBz
			aGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlkPSJlMzA5MCIg
			eD0iNS4wMDU4MyIgeT0iNy4wMDU1MSIgd2lkdGg9IjIiIHNoYXBl
			PSJjaXJjbGUiPgogICAgICA8c25hcHBlZC10bz4KICAgICAgICA8
			ZWxlbWVudCBpZHJlZj0iZTMyNTIiIHBhcmFtPSIwIi8+CiAgICAg
			IDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRl
			eCBpZD0iZTMxNTEiIHg9IjYuMDA1ODMiIHk9IjcuMDA1NTEiIHdp
			ZHRoPSIyIiBzaGFwZT0iY2lyY2xlIi8+CiAgICA8dmVydGV4IGlk
			PSJlMzE4NCIgeD0iNy4wMDU4MyIgeT0iNy4wMDU1MSIgd2lkdGg9
			IjIiIHNoYXBlPSJjaXJjbGUiLz4KICAgIDx2ZXJ0ZXggaWQ9ImUz
			MjUyIiB4PSI1LjAwNTgzIiB5PSI3LjAwNTUxIiB3aWR0aD0iMiI+
			CiAgICAgIDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlk
			cmVmPSJlMzA5MCIgcGFyYW09IjAiLz4KICAgICAgPC9zbmFwcGVk
			LXRvPgogICAgPC92ZXJ0ZXg+CiAgICA8dmVydGV4IGlkPSJlMzMy
			NyIgeD0iNS4wMDU4MyIgeT0iNS4wMDU1MSIgd2lkdGg9IjIiPgog
			ICAgICA8c25hcHBlZC10bz4KICAgICAgICA8ZWxlbWVudCBpZHJl
			Zj0iZTI2MTAiIHBhcmFtPSIwIi8+CiAgICAgIDwvc25hcHBlZC10
			bz4KICAgIDwvdmVydGV4PgogICAgPHZlcnRleCBpZD0iZTM0MzMi
			IHg9IjMuMDA1ODMiIHk9IjguMzE0MDIiIHdpZHRoPSIyIi8+CiAg
			ICA8dmVydGV4IGlkPSJlMzU2MiIgeD0iMy4wMDU4MyIgeT0iMy4z
			MTQwNCIgd2lkdGg9IjIiLz4KICAgIDx2ZXJ0ZXggaWQ9ImUzNzQw
			IiB4PSIyLjM5MTA1IiB5PSI0LjAwNTUxIiB3aWR0aD0iMiIvPgog
			ICAgPHZlcnRleCBpZD0iZTM4ODEiIHg9IjguMzkxODMiIHk9IjQu
			MDA1NTEiIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJlNDM5
			MiIgeD0iNy42MDMzMSIgeT0iNy4yMjg3NCIgd2lkdGg9IjIiLz4K
			ICAgIDx2ZXJ0ZXggaWQ9ImU0NDQ5IiB4PSI3LjYwMzMxIiB5PSI2
			LjIzMDU1IiB3aWR0aD0iMiIvPgogICAgPHZlcnRleCBpZD0iZTUw
			NTQiIHg9IjcuNDg2NzQiIHk9IjQuMTE5NyIgd2lkdGg9IjIiLz4K
			ICAgIDx2ZXJ0ZXggaWQ9ImU1MDYwIiB4PSI3LjQ4Njc0IiB5PSIz
			Ljg0OTkyIiB3aWR0aD0iMiIvPgogICAgPHZlcnRleCBpZD0iZTUx
			NDQiIHg9IjMuNDU0NjgiIHk9IjQuMTE5NyIgd2lkdGg9IjIiLz4K
			ICAgIDx2ZXJ0ZXggaWQ9ImU1MTQ2IiB4PSIzLjQ1NDY4IiB5PSIz
			Ljg0OTkyIiB3aWR0aD0iMiIvPgogICAgPHZlcnRleCBpZD0iZTYy
			NDIiIHg9IjQuMDAzMSIgeT0iNC4wMDU1MSIgd2lkdGg9IjIiIHNo
			YXBlPSJjaXJjbGUiPgogICAgICA8c25hcHBlZC10bz4KICAgICAg
			ICA8ZWxlbWVudCBpZHJlZj0iZTM3MjQiIHBhcmFtPSIwLjI2ODYz
			OTciLz4KICAgICAgPC9zbmFwcGVkLXRvPgogICAgPC92ZXJ0ZXg+
			CiAgICA8dmVydGV4IGlkPSJlNjMwMSIgeD0iNS4wMDMxIiB5PSI0
			LjAwNTUxIiB3aWR0aD0iMiIgc2hhcGU9ImNpcmNsZSI+CiAgICAg
			IDxzbmFwcGVkLXRvPgogICAgICAgIDxlbGVtZW50IGlkcmVmPSJl
			MzcyNCIgcGFyYW09IjAuNDM1Mjg0NiIvPgogICAgICA8L3NuYXBw
			ZWQtdG8+CiAgICA8L3ZlcnRleD4KICAgIDx2ZXJ0ZXggaWQ9ImU2
			MzU1IiB4PSI2LjAwMzEiIHk9IjQuMDA1NTEiIHdpZHRoPSIyIiBz
			aGFwZT0iY2lyY2xlIj4KICAgICAgPHNuYXBwZWQtdG8+CiAgICAg
			ICAgPGVsZW1lbnQgaWRyZWY9ImUzNzI0IiBwYXJhbT0iMC42MDE5
			Mjk1Ii8+CiAgICAgIDwvc25hcHBlZC10bz4KICAgIDwvdmVydGV4
			PgogICAgPHZlcnRleCBpZD0iZTE3ODUiIHg9IjMuNDU3ODciIHk9
			IjQuMjIzMjkiIHdpZHRoPSIyIi8+CiAgICA8dmVydGV4IGlkPSJl
			Njk4NyIgeD0iNy4wMDMxIiB5PSI0LjAwNTUxIiB3aWR0aD0iMiIg
			c2hhcGU9ImNpcmNsZSI+CiAgICAgIDxzbmFwcGVkLXRvPgogICAg
			ICAgIDxlbGVtZW50IGlkcmVmPSJlMzcyNCIgcGFyYW09IjAuNzY4
			NTc0NyIvPgogICAgICA8L3NuYXBwZWQtdG8+CiAgICA8L3ZlcnRl
			eD4KICAgIDxsaW5lIGlkPSJlMTEiIHdpZHRoPSIyIiBkYXNoPSJz
			b2xpZCIgY2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3RyYWlnaHQi
			PgogICAgICA8dmVydGljZXMgaWRzPSJlNjggZTEwMjUgZTEyMzIg
			ZTE2MDMgZTE3ODUgZTE4ODgiLz4KICAgIDwvbGluZT4KICAgIDxs
			aW5lIGlkPSJlMzIwMiIgd2lkdGg9IjIiIGRhc2g9ImRhc2hlcyIg
			Y2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3RyYWlnaHQiPgogICAg
			ICA8dmVydGljZXMgaWRzPSJlMzI1MiBlMzMyNyIvPgogICAgPC9s
			aW5lPgogICAgPGxpbmUgaWQ9ImUzMzQ0IiB3aWR0aD0iMiIgZGFz
			aD0ic29saWQiIGNsYXNzPSJjb25uZWN0IiBtZXRob2Q9InN0cmFp
			Z2h0Ij4KICAgICAgPHZlcnRpY2VzIGlkcz0iZTM0MzMgZTM1NjIi
			Lz4KICAgIDwvbGluZT4KICAgIDxsaW5lIGlkPSJlMzcyNCIgd2lk
			dGg9IjIiIGRhc2g9InNvbGlkIiBjbGFzcz0iY29ubmVjdCIgbWV0
			aG9kPSJzdHJhaWdodCI+CiAgICAgIDx2ZXJ0aWNlcyBpZHM9ImUz
			NzQwIGUzODgxIi8+CiAgICA8L2xpbmU+CiAgICA8bGluZSBpZD0i
			ZTM5MDYiIHdpZHRoPSIyIiBkYXNoPSJkYXNoZXMiIGNsYXNzPSJj
			b25uZWN0IiBtZXRob2Q9InN0cmFpZ2h0Ij4KICAgICAgPHZlcnRp
			Y2VzIGlkcz0iZTQzOTIgZTQ0NDkiLz4KICAgIDwvbGluZT4KICAg
			IDxsaW5lIGlkPSJlNTA1MiIgd2lkdGg9IjIiIGRhc2g9InNvbGlk
			IiBjbGFzcz0iY29ubmVjdCIgbWV0aG9kPSJzdHJhaWdodCI+CiAg
			ICAgIDx2ZXJ0aWNlcyBpZHM9ImU1MDU0IGU1MDYwIi8+CiAgICA8
			L2xpbmU+CiAgICA8bGluZSBpZD0iZTUxNDIiIHdpZHRoPSIyIiBk
			YXNoPSJzb2xpZCIgY2xhc3M9ImNvbm5lY3QiIG1ldGhvZD0ic3Ry
			YWlnaHQiPgogICAgICA8dmVydGljZXMgaWRzPSJlNTE0NCBlNTE0
			NiIvPgogICAgPC9saW5lPgogICAgPGxhYmVsIGlkPSJlMyIgeD0i
			NC43NzQ3NyIgeT0iLTAuNTU0NjQ5IiB2aXNpYmxlPSJmYWxzZSI+
			CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1
			bj4KICAgICAgICAgICAgPGxpdD5YIEF4aXM8L2xpdD4KICAgICAg
			ICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0Pgog
			ICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTYiIHg9Ii0wLjIy
			MTk0OCIgeT0iNC43MDIzIiByb3RhdGlvbj0iOTAiIHZpc2libGU9
			ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAg
			ICAgICA8cnVuPgogICAgICAgICAgICA8bGl0PlkgQXhpczwvbGl0
			PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8
			L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMzk0
			MyIgeD0iNS4zNTgwMyIgeT0iMy40NTM3OCI+CiAgICAgIDx0ZXh0
			PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAg
			ICAgPHN0eWxlPgogICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZv
			bnQtZmFtaWx5Ij5DTVUgU2VyaWY8L3ZhbHVlPgogICAgICAgICAg
			ICAgIDx2YWx1ZSBrZXk9ImZvbnQtaXRhbGljIj55ZXM8L3ZhbHVl
			PgogICAgICAgICAgICAgIDx2YWx1ZSBrZXk9ImZvbnQtc2l6ZSI+
			MjI8L3ZhbHVlPgogICAgICAgICAgICA8L3N0eWxlPgogICAgICAg
			ICAgICA8bGl0Png8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAg
			ICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAg
			IDxsYWJlbCBpZD0iZTQyNzkiIHg9IjIuNjU4MzUiIHk9IjUuOTIy
			MDIiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAg
			IDxydW4+CiAgICAgICAgICAgIDxzdHlsZT4KICAgICAgICAgICAg
			ICA8dmFsdWUga2V5PSJmb250LWZhbWlseSI+Q01VIFNlcmlmPC92
			YWx1ZT4KICAgICAgICAgICAgICA8dmFsdWUga2V5PSJmb250LWl0
			YWxpYyI+eWVzPC92YWx1ZT4KICAgICAgICAgICAgICA8dmFsdWUg
			a2V5PSJmb250LXNpemUiPjIyPC92YWx1ZT4KICAgICAgICAgICAg
			PC9zdHlsZT4KICAgICAgICAgICAgPGxpdD55PC9saXQ+CiAgICAg
			ICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4K
			ICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUxOSIgeD0iNi45
			MjgxOSIgeT0iLTAuMzM3NTUzIiB2aXNpYmxlPSJmYWxzZSI+CiAg
			ICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4K
			ICAgICAgICAgICAgPGxpdD4gICA8L2xpdD4KICAgICAgICAgIDwv
			cnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9s
			YWJlbD4KICAgIDxsYWJlbCBpZD0iZTE1IiB4PSIyLjkyODE5IiB5
			PSItMC4zMzc1NTMiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRl
			eHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAg
			ICAgICA8bGl0PiAgIDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlMiIgeD0iOS45Mjk3NyIgeT0iLTAuMzI2
			MjY0IiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAg
			ICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxp
			dD4gICA8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwv
			cD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJl
			bCBpZD0iZTIwIiB4PSI3LjkyODE5IiB5PSItMC4zMzc1NTMiIHZp
			c2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+
			CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0PiAgIDwv
			bGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAg
			ICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJl
			MTYiIHg9IjMuOTI4MTkiIHk9Ii0wLjMzNzU1MyIgdmlzaWJsZT0i
			ZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4KICAgICAg
			ICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+ICAgPC9saXQ+CiAg
			ICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4
			dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUxIiB4PSIt
			MC4wNzAyMjU4IiB5PSItMC4zMjYyNjQiIHZpc2libGU9ImZhbHNl
			Ij4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8
			cnVuPgogICAgICAgICAgICA8bGl0PiAgIDwvbGl0PgogICAgICAg
			ICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAg
			ICA8L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMTciIHg9IjQuOTI4
			MTkiIHk9Ii0wLjMzNzU1MyIgdmlzaWJsZT0iZmFsc2UiPgogICAg
			ICA8dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAg
			ICAgICAgICAgIDxsaXQ+ICAgPC9saXQ+CiAgICAgICAgICA8L3J1
			bj4KICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFi
			ZWw+CiAgICA8bGFiZWwgaWQ9ImUxMyIgeD0iMC45MjgxOSIgeT0i
			LTAuMzM3NTUzIiB2aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0
			PgogICAgICAgIDxwPgogICAgICAgICAgPHJ1bj4KICAgICAgICAg
			ICAgPGxpdD4gICA8L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAg
			ICAgIDwvcD4KICAgICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAg
			IDxsYWJlbCBpZD0iZTIxIiB4PSI4LjkyODE5IiB5PSItMC4zMzc1
			NTMiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAg
			ICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8bGl0
			PiAgIDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9w
			PgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxhYmVs
			IGlkPSJlMTgiIHg9IjUuOTI4MTkiIHk9Ii0wLjMzNzU1MyIgdmlz
			aWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8cD4K
			ICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+ICAgPC9s
			aXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAgICAg
			IDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9ImUx
			NCIgeD0iMS45MjgxOSIgeT0iLTAuMzM3NTUzIiB2aXNpYmxlPSJm
			YWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAg
			ICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4gICA8L2xpdD4KICAg
			ICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0
			PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTI4IiB4PSIt
			MC4yMTkxMzMiIHk9IjYuODY5MjgiIHZpc2libGU9ImZhbHNlIj4K
			ICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVu
			PgogICAgICAgICAgICA8bGl0PiAgIDwvbGl0PgogICAgICAgICAg
			PC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8
			L2xhYmVsPgogICAgPGxhYmVsIGlkPSJlMjQiIHg9Ii0wLjIxOTEz
			MyIgeT0iMi44NjkyOCIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8
			dGV4dD4KICAgICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAg
			ICAgICAgIDxsaXQ+ICAgPC9saXQ+CiAgICAgICAgICA8L3J1bj4K
			ICAgICAgICA8L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+
			CiAgICA8bGFiZWwgaWQ9ImU1IiB4PSItMC4yMTQ0MzQiIHk9Ijku
			ODY5NDkiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRleHQ+CiAg
			ICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAgICAgICA8
			bGl0PiAgIDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAgICAgICAg
			PC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgogICAgPGxh
			YmVsIGlkPSJlMjkiIHg9Ii0wLjIxOTEzMyIgeT0iNy44NjkyOCIg
			dmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAgICAgICA8
			cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxsaXQ+ICAg
			PC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8L3A+CiAg
			ICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFiZWwgaWQ9
			ImUyNSIgeD0iLTAuMjE5MTMzIiB5PSIzLjg2OTI4IiB2aXNpYmxl
			PSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAg
			ICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4gICA8L2xpdD4K
			ICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90
			ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTQiIHg9
			Ii0wLjIxNDQzNCIgeT0iLTAuMTMwNTA2IiB2aXNpYmxlPSJmYWxz
			ZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxwPgogICAgICAgICAg
			PHJ1bj4KICAgICAgICAgICAgPGxpdD4gICA8L2xpdD4KICAgICAg
			ICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAgICAgPC90ZXh0Pgog
			ICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0iZTI2IiB4PSItMC4y
			MTkxMzMiIHk9IjQuODY5MjgiIHZpc2libGU9ImZhbHNlIj4KICAg
			ICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgog
			ICAgICAgICAgICA8bGl0PiAgIDwvbGl0PgogICAgICAgICAgPC9y
			dW4+CiAgICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xh
			YmVsPgogICAgPGxhYmVsIGlkPSJlMjIiIHg9Ii0wLjIxOTEzMyIg
			eT0iMC44NjkyODEiIHZpc2libGU9ImZhbHNlIj4KICAgICAgPHRl
			eHQ+CiAgICAgICAgPHA+CiAgICAgICAgICA8cnVuPgogICAgICAg
			ICAgICA8bGl0PiAgIDwvbGl0PgogICAgICAgICAgPC9ydW4+CiAg
			ICAgICAgPC9wPgogICAgICA8L3RleHQ+CiAgICA8L2xhYmVsPgog
			ICAgPGxhYmVsIGlkPSJlMzAiIHg9Ii0wLjIxOTEzMyIgeT0iOC44
			NjkyOCIgdmlzaWJsZT0iZmFsc2UiPgogICAgICA8dGV4dD4KICAg
			ICAgICA8cD4KICAgICAgICAgIDxydW4+CiAgICAgICAgICAgIDxs
			aXQ+ICAgPC9saXQ+CiAgICAgICAgICA8L3J1bj4KICAgICAgICA8
			L3A+CiAgICAgIDwvdGV4dD4KICAgIDwvbGFiZWw+CiAgICA8bGFi
			ZWwgaWQ9ImUyNyIgeD0iLTAuMjE5MTMzIiB5PSI1Ljg2OTI4IiB2
			aXNpYmxlPSJmYWxzZSI+CiAgICAgIDx0ZXh0PgogICAgICAgIDxw
			PgogICAgICAgICAgPHJ1bj4KICAgICAgICAgICAgPGxpdD4gICA8
			L2xpdD4KICAgICAgICAgIDwvcnVuPgogICAgICAgIDwvcD4KICAg
			ICAgPC90ZXh0PgogICAgPC9sYWJlbD4KICAgIDxsYWJlbCBpZD0i
			ZTIzIiB4PSItMC4yMTkxMzMiIHk9IjEuODY5MjgiIHZpc2libGU9
			ImZhbHNlIj4KICAgICAgPHRleHQ+CiAgICAgICAgPHA+CiAgICAg
			ICAgICA8cnVuPgogICAgICAgICAgICA8bGl0PiAgIDwvbGl0Pgog
			ICAgICAgICAgPC9ydW4+CiAgICAgICAgPC9wPgogICAgICA8L3Rl
			eHQ+CiAgICA8L2xhYmVsPgogIDwvZ3JhcGg+CjwvZG9jdW1lbnQ+
			Cg==
			</data>
			<key>bundleId</key>
			<string>com.omnigroup.OmniGraphSketcher</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>OmniGraphSketcher</string>
			<key>serverName</key>
			<string>OmniGraphSketcher</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image14.pdf</string>
		<string>image13.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2011-02-08 09:43:05 -0500</string>
	<key>Modifier</key>
	<string>Stephen Magill</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{94, 4}, {999, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 0}, {850, 705}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
